[2016-04-12 12:37] hebertialmeida opened #3 "Epub parser"

[2016-04-12 12:38] hebertialmeida opened #4 "Font customization menu"

[2016-04-12 23:30] jamesmartins opened #5 "ToolBar Reader onTap Event"

[2016-04-12 23:31] jamesmartins opened #6 "Parse cover method"

[2016-06-24 19:07] TosinRoger opened #10 "Option horizontal reading, like book"

[2016-07-04 06:24] yasaman93 opened #11 "Webview onTouchListener won't work!!"
How can I trigger onTouchListener or onClickListener for webview in epub reader?

Please help :(

[2016-08-11 13:07] Sirack commented on #10
Any progress here? Or could anyone suggest how I could go about this?

[2016-09-05 05:08] dtboy1995 opened #14 "epub show image support"
present epub file cover with image , if i want to add this feature to this project,what should the best way that  i do...please give me some suggests..

[2016-09-06 14:07] hebertialmeida commented on #14
We already have a method to get the ePub cover image https://github.com/FolioReader/FolioReaderKit/blob/master/Example/Example/ViewController.swift#L63

Is it similar? Can you provide more details?

[2016-09-19 06:14] Mohsin92 opened #15 "Horizontal reading option not available"
After comparing from iOS I found horizontal reading option not available.

I have found you guys are very active on iOS repo.

I request you to please give update on android too.

Thank you.

[2016-09-20 04:21] rajvalentino commented on #15
@Mohsin92 Have you tried https://github.com/readium/SDKLauncher-Android ?

[2016-09-30 13:54] merhawifissehaye commented on #10
+1

[2016-09-30 13:57] merhawifissehaye commented on #15
@rajvalentino how do I use the repo you mentioned? What is it please?

[2016-10-04 09:19] kiyos1221 opened #19 "image and links are not working"
the reader is not showing me images, audios android the links are not working what should i do

[2016-10-04 09:37] mahavir-jain commented on #19
did you tried latest code?
Can you send epub which you tried?

[2016-10-04 13:20] kiyos1221 commented on #19
it is now working thanks buddy, on your way can you please suggest me what to do for the pagination like a book

[2016-10-04 13:24] mahavir-jain commented on #19
Yeah, we are working on that stuff.. Soon it will be live..

[2016-10-04 13:24] #19 closed

[2016-10-06 07:19] #3 closed

[2016-10-06 07:19] #4 closed

[2016-10-12 10:57] kiyos1221 opened #20 "Highlights"
highlights crash the app in the new release when clicking in the highlighted text

[2016-10-12 11:20] mahavir-jain commented on #20
fixed in 0.1.1 release..

[2016-10-12 11:20] #20 closed

[2016-10-12 12:41] kiyos1221 opened #21 "when changing the font the images become invisible"

[2016-10-13 09:17] kiyos12 opened #22 "when changing the font the image becomes invisible"
when changing the font the image becomes invisible in addition the toolbar of the reader is invisible in pre-lollipop devices

[2016-10-13 10:18] Skyna opened #23 "TST causes a crash"
When i try to use the TST the app crashes. Giving the following exception:

<img width="1100" alt="screen shot 2016-10-13 at 12 13 42" src="https://cloud.githubusercontent.com/assets/3736780/19345503/d19b954a-913e-11e6-8075-ac0655bb5e49.png">

The ePub that i use the free "The Silver Chair". I tried loading it from the assets and raw. But both is giving the same exception when i press play on TST

[2016-10-13 12:03] mahavir-jain commented on #23
@Skyna I think, by TST, you mean to say TTS (Text-To-Speech).. TTS is not supported in 0.1 version.. It will soon be supported in 0.2 version.. Other book is audio book, so it plays audio..

But, yes, it should not crash the app on playing audio.. Infact play button should be invisible if book does not have audio :)..

[2016-10-13 13:42] mahavir-jain commented on #23
@Skyna it will not display TTS button if book is not audio book.. Fixed in version 0.1.2

[2016-10-13 13:42] #23 closed

[2016-10-13 13:43] mahavir-jain commented on #22
fixed in version 0.1.2

[2016-10-13 13:43] #22 closed

[2016-10-14 08:10] kiyos12 opened #24 "the reader doesn't read some unicode books"
i have sample book written in Amharic, but the reader is not reading the book content

[2016-10-14 13:24] mahavir-jain commented on #24
@kiyos12 is it possible for you to provide ebook?

[2016-10-15 08:17] kiyos88 commented on #24
change the extension to epub i change it to zip because github doesn't support epub file

[2016-10-15 08:20] kiyos88 commented on #24
github doesn't support epub file to be uploaded can i have your email please

[2016-10-15 10:36] kiyos88 opened #25 "how is the font changing logic works."

[2016-10-17 10:41] compass00 commented on #24
https://pan.baidu.com/s/1gfnyP4f
the reader is not reading this book content .

[2016-10-17 11:09] mahavir-jain commented on #25
if you look into FolioPageFragment->getHtmlContent(...); we are changing configuration such as font, fontSize and nightMode, which is in Config.java Class along with ConfigView.java

`htmlContent = htmlContent.replace("<html ", "<html class=\"" + classes + "\" ");`

and then changing the class style of html content

[2016-10-17 11:09] mahavir-jain commented on #25
It was not an issue.. Closing..

[2016-10-17 11:09] #25 closed

[2016-10-17 14:15] mahavir-jain commented on #24
@kiyos88 send it on mahavir@codetoart.com

[2016-10-17 14:22] mahavir-jain commented on #24
@kiyos88 please send it on mahavir@codetoart.com

[2016-10-18 03:45] compass00 commented on #24
I changed "OEBPS" to "OPS" in the file :FolioPageFragment.java, AppUtil.java, it is worked now. My book's directory is different from the sample.

[2016-10-18 03:47] mahavir-jain commented on #24
@compass00 yes, epub2 books can have such formats.. We've fixed this and will be included in 0.2 release soon..

[2016-10-18 06:10] kiyos88 commented on #24
@mahavir-jain  thank you finally i fix it by @compass00 's answer

[2016-10-18 06:13] kiyos88 opened #26 "saving state of reading"
how could i return to that page which i was reading after back button pressed and opening the book again in addition how to bookmark the that specific page thank you

[2016-10-18 14:16] mahavir-jain commented on #26
@kiyos88 returning to same page after re-opening book will be fixed in upcoming releases.
@hebertialmeida have you thought of bookmarking page?

[2016-10-18 21:36] pablo384 opened #27 "do not read books made by me, google doc, calibre, sigil and more - Android"
As the title says, do not read books made by me, google doc, caliber, sigil and more

Nose not read correctly because the epub I do, even just edit text in a epub he read properly and then do not read the amendment.

Sigil use a partition with Windows 10, is configured to EPUB 3, I do not understand why not read my epub correctly.

please help!

https://youtu.be/c40JV2iBPoI

[2016-10-19 05:10] mahavir-jain commented on #27
@pablo384 can you please send me crash report? Or if possible can you share that project on github?

[2016-10-19 12:20] pablo384 commented on #27
@mahavir-jain of course, here the link: https://github.com/pablo384/ProEduka.git

[2016-10-21 13:05] mahavir-jain commented on #26
@kiyos88 returning to same page after re-opening the book should be fixed now.. bookmarks should be new feature.. so closing the issue..

[2016-10-21 13:05] #26 closed

[2016-10-21 13:06] mahavir-jain commented on #24
fixed in 0.2.0

[2016-10-21 13:06] #24 closed

[2016-10-21 13:07] mahavir-jain commented on #21
fixed in 0.2.0

[2016-10-21 13:07] #21 closed

[2016-10-25 06:57] mahavir-jain commented on #27
@pablo384 fixed in 0.2.1 version.. please check..

[2016-10-25 06:57] #27 closed

[2016-10-25 12:51] kiyos88 opened #30 "highlight redundancy in unicode books"
![screenshot_2016-10-25-15-48-00 1](https://cloud.githubusercontent.com/assets/12491404/19686627/b2b55522-9aca-11e6-978b-8c83b6ed0295.jpg)

as you can see in the picture if there are the same words in the book it highlights all if you highlight one of them

[2016-10-25 18:21] pablo384 opened #31 "I can not modify texts EPUB"
@mahavir-jain

as the title says, I can not change texts EPUB.
The application stops when trying to use the features of reading.

use exactly the Codico like this in the last update.

ebook here(by google doc): https://github.com/pablo384/ebook.git
video here: https://youtu.be/VY8jFxESkL4

thanks for your cooperation and work

[2016-10-26 10:30] mahavir-jain commented on #31
@pablo384 should be fixed in 0.2.2

[2016-10-26 10:30] #31 closed

[2016-10-26 10:33] mahavir-jain commented on #30
@kiyos88 can you check this now in 0.2.2 version?

[2016-10-26 11:16] kiyos88 commented on #30
10q its working close the issue

[2016-10-26 11:19] kiyos88 opened #33 "The reader crashes on changing the orientation"
here is the logcat

`java.lang.RuntimeException: Unable to start activity ComponentInfo{com.a360ground.reader10/com.folioreader.activity.FolioActivity}: java.lang.NullPointerException: Attempt to invoke interface method 'java.lang.Object java.util.List.get(int)' on a null object reference
                                                                             at android.app.ActivityThread.per

[2016-10-26 11:21] #30 closed

[2016-10-26 14:32] mahavir-jain commented on #33
@kiyos88 we cannot able to reproduce here.. which device did you tried? can you share project in which you reproduced this bug?

[2016-10-26 19:48] pablo384 opened #34 "no table of contents, made with google doc"
@mahavir-jain
so far everything is fine, there are only a few details.
the table of contents does not recognize it, and this in GoogleDoc / nav.xhtml

Ebook with table of contents: https://github.com/pablo384/ebook.git

[2016-10-27 05:54] kiyos88 commented on #33
i tried in almost 5 devices it gives me the same error the project is exactly your project in github

[2016-11-02 10:28] compass00 opened #35 "the reader doesn't read some books which content has lots of "span" label."
I have  a book, the content has lots of "span", when opened book, cannot read. iOS version is ok, but only show a part of content. Can I send the book to your email? Thanks a lot.

[2016-11-02 10:33] compass00 commented on #35
![0](https://cloud.githubusercontent.com/assets/13750745/19925353/922f3cb2-a12a-11e6-956d-25b6759dd388.png)
![1](https://cloud.githubusercontent.com/assets/13750745/19925356/98633dfe-a12a-11e6-8859-dcaac41c2c71.png)

[2016-11-03 00:56] compass00 commented on #35
unzip the file:
[kunchongji2.epub.zip](https://github.com/FolioReader/FolioReader-Android/files/568026/kunchongji2.epub.zip)

[2016-11-04 10:14] compass00 commented on #35
when I opened the book with calibre, the content showed unrecognized code too...it's a image cover in the front of book , I don't know why it is showed unrecognized code... may be something wrong with the book...

[2016-11-07 06:46] compass00 commented on #35
I found the problem, when read page from path which is jpg file, the page will show be showed as unrecognized code. I changed the code like this:

    public static String readPage(String path) {
        if (path.endsWith("jpeg") || path.endsWith("jpg"))
            return "";
        try {
            FileInputStream input = new FileInputStream(path);
            byte[] fileData = new byte[input.

[2016-11-07 06:49] mahavir-jain commented on #35
cool @compass00 Happy to see that you found out.. Can you send me pull request, so I can verify and merge the pull request..

[2016-11-07 07:08] compass00 commented on #35
ok, Let me try...
And other question, when failed to save book data, may be cannot read book next time. I fixed this problem in the function: saveEpubFile
.....
            } else {
                BookModel bookModel = null;
                // catch exception here:
                try {
                     bookModel = BookModelTable.getBookFromName(context, epubFileName);
                } catch

[2016-11-07 07:09] compass00 commented on #35
ok, Let me try...
And other question, when failed to save book data, may be cannot read book next time. I fixed this problem in the function: saveEpubFile

// catch exception here:
         try {
          bookModel = BookModelTable.getBookFromName(context, epubFileName);
        } catch (Exception e) {
          Log.d(TAG, e.getMessage());
         }
          if (bookModel != null) {

[2016-12-05 06:54] jskcse4 opened #38 "Can't read some books."
Im using this library to read ebooks from my app. Recently I found that I can't read some books. Getting following error in Log.

`FATAL EXCEPTION: main
                                                                Process: com.jskaleel.fte, PID: 2165
                                                                java.lang.IllegalArgumentException: META-INF is not a constant in com.folioreader.

[2016-12-05 07:54] jskcse4 commented on #38
More Info :

I can read the same book in FBReader, PageTurner apps. Getting only error on this Library.

[2016-12-05 08:17] mahavir-jain commented on #38
Is it possible to share github project where you are using this ebook? Or probably just share ebook which is not working?

[2016-12-05 12:30] pablo384 commented on #38
Try paste this into your buildgradle module app. Down of buildTypes.

packagingOptions {        
exclude 'META-INF/ASL2.0'        
exclude 'META-INF/DEPENDENCIES.txt'        
 exclude 'META-INF/LICENSE.txt'        
exclude 'META-INF/NOTICE.txt'        
exclude 'META-INF/NOTICE'        
exclude 'META-INF/LICENSE'        
exclude 'META-INF/DEPENDENCIES'        
exclude 'META-INF/notice.txt'        

[2016-12-05 20:12] JessicaAvz opened #39 "Business"
Hello, I would like to know if this project runs over some sort of licence or if it's open source for commercial use. It's for a little project I'm making.

[2016-12-06 04:52] jskcse4 commented on #38
@pablo384 its not working

[2016-12-06 04:58] jskcse4 commented on #38
@mahavir-jain here is the which i can read & can't read. (both the books are Tamil Ebooks).
Can't Read :
1. [Ayesha](https://drive.google.com/file/d/0B7j3fgGSw9Wca0JVd09VSV9qNmc/view?usp=sharing)

Can Read :
2. [Vizha Eduthupar](https://drive.google.com/file/d/0B7j3fgGSw9WcaHdVRm95NFMtUmc/view?usp=sharing)

[2016-12-06 05:21] pablo384 commented on #39
don't i member of this project, but i use in my personal project and is free, i think what not problem if you use this library.
the creator say me by inbox, what don't have problem.

welcome, if we more, better!

[2016-12-06 05:42] mahavir-jain commented on #39
It is open source under BSD-3-Clause license. So you can use it with Copyright notice of FolioReader..
To know more checkout https://github.com/FolioReader/FolioReader-Android/blob/master/License.md

[2016-12-06 05:42] #39 closed

[2016-12-06 13:54] jskcse4 commented on #38
Please take a look [here](https://github.com/FolioReader/FolioReader-Android/pull/40)

[2016-12-07 15:48] mahavir-jain commented on #38
fixed in v0.2.3

[2016-12-07 15:48] #38 closed

[2016-12-07 15:50] mahavir-jain commented on #33
it has been fixed with v0.2.3..

[2016-12-07 15:50] #33 closed

[2016-12-08 05:41] rajvalentino opened #42 "Some Links are not working"
Links on Content page(content.xhtml) within a book is not working .
[code]

[2016-12-08 07:39] mahavir-jain commented on #42
@rajvalentino Is it possible for you to send such eBook for me to test and fix?

[2016-12-08 09:48] rajvalentino commented on #42
pls check this https://we.tl/y0WfWONCl6

[2016-12-08 13:17] pritambarhate opened #43 "Are you planning to add support for pagecurl effect?"
Hi

From the read me and from the screenshot, it seems that this library doesn't have support for page curl effect. Is there any plan to add that?

Regards,

Pritam

[2016-12-08 13:20] mahavir155 commented on #43
Yes, horizontal scrolling of pages is planned.. But haven't thought of page curl animation.. You are welcome to contribute that if you are interested..

[2016-12-09 14:29] eschao commented on #43
@mahavir155 I wrote a PageFlip, you can take a look my github.
but seems it is hard to be applied on your project, I just got a glimpse about your codes, looks like you use webview to render the content, I'm not very sure, but if you need any help about PageFlip lib, you can contact me, I also have some experiences about ebook reading application, hope it is useful. :)

[2016-12-09 15:30] mahavir155 commented on #43
Sure, will need to check how it can fit in WebView when we'll implement horizontal scrolling..

[2016-12-21 05:18] rajvalentino commented on #42
Have you checked that bro ? @mahavir155

[2016-12-22 05:22] webnandroid opened #45 "I get error after including flioreader in gradel."
Error:Execution failed for task ':app:transformResourcesWithMergeJavaResForDebug'.

	File1: C:\Users\ssa\.gradle\caches\modules-2\files-2.1\org.codehaus.jackson\jackson-mapper-asl\1.9.13\1ee2f2bed0e5dd29d1cb155a166e6f8d50bbddb7\jackson-mapper-asl-1.9.13.jar
	File2: C:\Users\ssa\.gradle\caches\modules-2\files-2.1\org.codehaus.jackson\jackson-core-asl\1.9.13\3c304d70f42f832e0a86d45bd437f692129299a4\

[2016-12-22 05:54] #42 closed

[2016-12-22 21:18] wilburt commented on #19
@kiyos1221 please how did you fix this? I am having this same problem on most epubs.

[2016-12-23 08:55] egidijusk commented on #45
Try to organise your app/build.gradle like this

[code]

[2016-12-24 11:28] rajvalentino commented on #42
Link to any subtitle within the chapter is not getting redirect to their respective ids "#idname".

`<content src="xhtml/04_Chapter01.xhtml#u05/>`

[2016-12-25 05:53] riseLishan commented on #45
Error:Execution failed for task ':readbook:transformResourcesWithMergeJavaResForDebug'.

	File1: D:\Reader\readbook\libs\epublib-core-latest.jar
	File2: D:\Reader\readbook\build\intermediates\exploded-aar\com.folioreader\folioreader\0.2.3\jars\classes.jar

[2016-12-25 05:58] riseLishan opened #46 "I get error after including flioreader in gradel.How to resolve??????"
Error:Execution failed for task ':readbook:transformResourcesWithMergeJavaResForDebug'.

	File1: D:\Reader\readbook\libs\epublib-core-latest.jar
	File2: D:\Reader\readbook\build\intermediates\exploded-aar\com.folioreader\folioreader\0.2.3\jars\classes.jar

[2016-12-27 13:07] mahavir155 commented on #46
@riseLishan can you please try using latest 0.2.4 version?

[2016-12-27 13:08] mahavir155 commented on #45
should be fixed in 0.2.4 version

[2016-12-27 13:08] #45 closed

[2016-12-27 15:35] rajvalentino opened #48 "HIGHLIGHT_SELECTED Redirection"
Increasing/Decreasing the font size causing highlighted text onclick redirection to older webViewPosition .

.

[2016-12-27 20:12] djinnjuank opened #49 "Error at open project or add dependency"
Hi
When i try to open the Folio Reader project, i get the following error message
Error:Cause: com/android/build/gradle/internal/model/DefaultAndroidProject : Unsupported major.minor version 52.0

When i try to add the dependency  compile 'com.folioreader:folioreader:0.2.3' to a sample project i get the following message
Error:(7, 13) Failed to resolve: com.folioreader:folioreader:0.2.3

What coul

[2016-12-28 05:44] mahavir155 commented on #49
Were you connected to internet when you sync gradle after adding FolioReader dependency?
also use latest FolioReader version 0.2.4?

[2016-12-28 05:50] akbarasif43 opened #50 "ActivityNotFoundException"
I am using this library to show a epub from asset folder. So I wrote below code according to documentation which is available at Github page.

`private void openEpub(FolioActivity.EpubSourceType sourceType,String path,int rawID) {
        Intent intent = new Intent(this, FolioActivity.class);
        if(rawID!=0) {
            intent.putExtra(FolioActivity.INTENT_EPUB_SOURCE_PATH, rawID);

[2016-12-28 05:53] #50 closed

[2016-12-28 15:31] mahavir155 commented on #48
fixed. check version 0.2.5..

[2016-12-28 15:31] #48 closed

[2016-12-29 04:31] rajvalentino opened #52 "HighlightListTable"
In version 0.2.5. Highlightlist table is not visible for api level <=19  devices . In some books all the toc content list is not shown in highlight list table. and their redirection is not appropriate.

Sample book : https://we.tl/He5cnJEQXH

[2016-12-29 07:24] akbarasif43 opened #53 "How to read epub from internal memory?"
According to documentation we can load epub file from asset folder and external memory like SD card. But I have downloaded a book inside my application specific memory (Internal memory). How can open this book using Folio Reader?

[2016-12-29 07:31] mahavir155 commented on #53
You can use sd card enum type and give it the path..

[2016-12-29 07:48] #53 closed

[2016-12-29 08:01] akbarasif43 opened #54 "How to prevent storing all content in external memory?"
FolioReader is working great. But when we want to show an epub it parse(/unzip) the epub book and store all the content in memory under "folioreader" folder. So if anyone checks his mobile memory he will get the ebook resources easily and can misuse the content. How can I prevent this? It will be better if we can store the content inside cache directory and will use from that.

[2016-12-29 08:40] mahavir155 commented on #54
if anyone want to misuse, he can misuse the content even if it is in cache directory.. To avoid misusing the content, we need to have DRM.. Unfortunately DRM is not supported yet in FolioReader..

[2016-12-29 10:15] akbarasif43 commented on #54
However, I can use an another solution. If user completed his reading than I can delete this book specific folder. Yes, it has some drawback that each time user wants to read that book he must wait to unzip the epub. But I think it will not effect reading quality because already it is doing the first time and also showing a loader.

[2016-12-29 13:10] djinnjuank commented on #49
Hi, yes i have internet connection.
I try with the following version: com.folioreader:folioreader:0.2.4 , com.folioreader:folioreader:0.2.5 and get the same error.
Then i try:   compile 'com.folioreader:folioreader:+',  This way I could use your library and it is functional.

Regards.

[2016-12-29 14:48] riseLishan opened #55 "I have a problem"
Error:A problem occurred configuring project ':readbook'.

     Searched in the following locations:
         file:/D:/as/gradle/m2repository/com/folioreader/folioreader/0.2.5/folioreader-0.2.5.pom
         file:/D:/as/gradle/m2repository/com/folioreader/folioreader/0.2.5/folioreader-0.2.5.jar
         https://jcenter.bintray.com/com/folioreader/folioreader/0.2.5/folioreader-0.2.5.pom
         htt

[2016-12-29 15:21] mahavir155 commented on #49
@djinnjuank there seems to be some problem with jcenter.. Library has stopped syncing with jcenter for some reason.. Have contacted jcenter support.

[2016-12-29 15:21] mahavir155 commented on #55
@riseLishan  there seems to be some problem with jcenter.. Library has stopped syncing with jcenter for some reason.. Have contacted jcenter support.

[2016-12-30 10:26] akbarasif43 opened #56 "Showing errow when going to ContentHighlightActivity?"
FAILED BINDER TRANSACTION !!!  (parcel size = 3493604)

`java.lang.RuntimeException: android.os.TransactionTooLargeException: data parcel size 3493604 bytes
                                                                        at android.app.ActivityThread$StopInfo.run(ActivityThread.java:3781)
                                                                        at android.os.Handler.handleCa

[2017-01-02 08:51] mahavir155 commented on #55
fixed..

[2017-01-02 08:51] #55 closed

[2017-01-02 08:51] mahavir155 commented on #49
fixed

[2017-01-02 08:51] #49 closed

[2017-01-02 08:59] akbarasif43 opened #57 "Font size is not changing and application is crashing when changing font size."
When user changed seekbar the library is calling onConfigChange method
` @Override
    public void onConfigChange() {

        int position = mFolioPageViewPager.getCurrentItem();
        //reload previous, current and next fragment
        Fragment page;
        if (position != 0) {
            page = getFragment(position - 1);
            ((FolioPageFragment) page).reload();
        }
        pa

[2017-01-02 10:54] mahavir155 commented on #56
@akbarasif43 is it possible for you to share epub file?

[2017-01-02 10:56] mahavir155 commented on #57
we can't able to reproduce this.. which version you are working on?

[2017-01-02 11:00] akbarasif43 commented on #56
The error is happening only on Android Nougat. After debugging I found that in Nougat when we pass object with intent and if the object is big enough it shows this kind of problem. Here, the library passing entire book object with intent to ContentHighLlight Activity. So inside this activity when it is trying to get the object from intent application is crashing. So I am assuming that to solve thi

[2017-01-02 11:04] akbarasif43 commented on #57
I downloaded the library from github and tried to integrate that. So it is showing same error in all devices. Event I have tested the sample project. It is also crashing when I am trying to change the font. May be I am missing something. If you do not face this kind of situation could you please send me a demo apk file to test in my device?

[2017-01-02 11:17] mahavir155 commented on #56
yes, we understood that.. so, we are passing only the objects which is needed in Book class.. Probably it have more resources.. How big is your eBook? any idea on number of chapters? is it audio book?

[2017-01-02 11:53] akbarasif43 commented on #56
The size of the book is not big. It is only 847KB. Again it has 10 chapters.

[2017-01-02 13:30] mahavir155 commented on #57
Are you using latest source from master branch?

[2017-01-03 04:01] akbarasif43 commented on #57
As I have downloaded the source from Github, so I am assuming it was downloaded from master branch because Github shows master branch by default.

[2017-01-03 16:35] umair151 commented on #50
Can you please post the solution here?

[2017-01-04 04:11] rajvalentino commented on #50
declare your activity name in your AndroidManifest.xml
<application
....
....
<activity android:name=".youractivityname" />
....
</application>

[2017-01-04 04:16] rajvalentino commented on #50
Declare your activity name in `AndroidManifest.xml`
 `<application`
....
 `<activity android:name=".youracitivityname" />`
....
`</application>`

[2017-01-04 13:04] mahavir155 commented on #57
well, we have removed the code which you are pointing to.. So, i doubt if you using latest code from master branch..

[2017-01-05 02:14] riseLishan opened #58 "When I compile 'com.folioreader:folioreader:0.2.3',The book opens only chapter, no content, content is blank"
When I compile 'com.folioreader:folioreader:0.2.3',The book opens only chapter, no content, content is blank.How to solve

[2017-01-05 04:30] rajvalentino commented on #58
api?

[2017-01-05 05:34] mahavir155 commented on #58
difficult to debug the problem with the info you provided.. is it possible to share ebook which not showing content?

[2017-01-05 19:27] umair151 commented on #50
It was not showing in intellisense, here is the solution:

[code]

[2017-01-18 06:54] ajeenats opened #59 "Paragraph highlight"
When we highlight a paragraph it is not highlighting, but add a new line in the paragraph.

[2017-01-18 06:58] ajeenats commented on #59
please give response i want to fix this issue

[2017-01-18 11:14] rajvalentino commented on #59
post the image

[2017-01-18 15:35] joaonora opened #60 "Index of Ebook in webview no respond to click"
If the ebook have a index page, when we click on the link, doesnt go to the page. doesnt do anything.

Can you help me?

Best regards.

[2017-01-20 03:27] rajvalentino commented on #60
Book?

[2017-01-20 10:30] joaonora commented on #60
Yes

[2017-01-21 02:51] rajvalentino commented on #60
Upload it and paste the link here

[2017-01-24 10:39] ajeenats commented on #59
![device-2017-01-24-160919](https://cloud.githubusercontent.com/assets/25194146/22243935/84067ab8-e24f-11e6-806e-0894f789745c.png)

[2017-01-24 10:42] ajeenats commented on #59
can u please give an update

[2017-01-24 11:41] rajvalentino commented on #59
Hope it will be fixed in the future release .

[2017-01-24 12:23] ajeenats commented on #59
when will release???

[2017-01-24 12:27] mahavir155 commented on #59
@ajeenats cannot give you date.. Same issue is also in iOS.. checkout https://github.com/FolioReader/FolioReaderKit/issues/37
It seems to be something with Javascript i think..

[2017-01-24 12:51] ajeenats commented on #59
when we highlight the content in magazine. The pre content and post content are deleted

[2017-01-24 12:54] ajeenats commented on #59
after reload

[2017-01-25 10:53] daniyarmukhanov opened #61 "Search keyword inside the book"
Anybody tried to implement search feature? Where to start if I want to implement myself?

[2017-01-25 11:35] mahavir155 commented on #61
@daniyarmukhanov checkout https://github.com/taku33/FolioReaderPlus.. This guy has implemented search in iOS..
I think you can start by looking at his code and see how it works.. And probably try to replicate same here for android..

[2017-01-26 21:09] n0m0r3pa1n opened #62 "Clicking the hamburger icon at the top causes the app to crash"
This happens on Nexus 5X with Android 7.1. Please tell me how can I help if I have to debug something!

Here is the crash
`
01-26 23:06:10.507 26802-26802/info.chitanka.android E/JavaBinder: !!! FAILED BINDER TRANSACTION !!!  (parcel size = 1856584)
01-26 23:06:10.507 26802-26802/info.chitanka.android D/AndroidRuntime: Shutting down VM
01-26 23:06:10.511 26802-26802/info.chitanka.android E/Android

[2017-01-26 21:55] adheus commented on #62
Same here. Did you find a solution?

[2017-01-26 22:08] n0m0r3pa1n commented on #62
I will review the lib and make PR probably. It has a good look and feel and some good options so it is worth trying. The problem is that they pass the whole Book object to every screen as a serializable which is huge. Also the lib crashes when rotating the phone ...

[2017-01-27 06:59] n0m0r3pa1n commented on #62
https://github.com/n0m0r3pa1n/FolioReader-Android

1. The problem was that when calling another activity the previous one wanted to save it's state where the Book serialized variable was so the state was too large - over 3 mb with maximum allowed 1.
2. I have fixed the TransactionTooLargeException by replacing all usages of the Book serializable with the needed fields like book title & path to it.

[2017-01-27 07:10] mahavir155 commented on #62
Thanks.. Yes, book size is getting too large.. Currently we are using EpubReader().readEpub() which reads all the resources. But I think, if we use readEpubLazy() which will only have href. This way we can avoid problem of TransactionTooLarge.. I'm working on it, but since i also have to manage other work, I'm bit slow.. But, it will be fixed soon..

[2017-01-29 14:06] n0m0r3pa1n commented on #62
https://github.com/FolioReader/FolioReader-Android/pull/63

[2017-01-29 15:04] Khalendroid opened #64 "CardView disappear when i attach folioreader to my app"
CardView disappear when i attach folioreader to my app

[2017-01-31 06:55] ajeenats commented on #59
hi friend
"When we highlight a paragraph it is not highlighting, but add a new line in the paragraph. "
this issue is solved
now we can   highlight a paragraph

[2017-01-31 06:56] ajeenats commented on #59
![para](https://cloud.githubusercontent.com/assets/25194146/22455122/80b4e0dc-e7b0-11e6-9409-41d25c8e337c.png)

[2017-01-31 06:57] ajeenats commented on #59
var ps = document.getElementsByTagName('p');
while (ps.length) {
   var p = ps[0];
   while (p.firstChild) {
       p.parentNode.insertBefore(p.firstChild, p);
   }

   p.parentNode.insertBefore(document.createElement('br'), p);
    p.parentNode.insertBefore(document.createElement('br'), p);
   p.parentNode.removeChild(p);
}

add this on bridge.js

[2017-01-31 11:46] mahavir155 commented on #59
@ajeenats can you send Pull Request?

[2017-01-31 17:16] hebertialmeida commented on #59
@ajeenats @mahavir155 This is a interesting solution, may could solve for iOS too, we have the same problem.

[2017-02-01 13:13] mahavir155 commented on #64
more details please?

[2017-02-01 13:20] #57 closed

[2017-02-02 18:09] icaromagalhaes commented on #43
Hello!
Any update about the horizontal scrolling?

[2017-02-04 06:54] ajeenats commented on #59
htmlContent = htmlContent.replace("<p>", "");
        htmlContent = htmlContent.replace("</p>", "<br><br>");

also place this code ,  (in android     getHtmlcontent )
thanks for syam babu (for solutions)

[2017-02-06 05:46] ajeenats opened #67 "how to remove this selection drager"
![device-2017-02-06-111515](https://cloud.githubusercontent.com/assets/25194146/22635952/b02af430-ec5d-11e6-946f-41346944e089.png)

[2017-02-13 09:46] daniyarmukhanov opened #68 "how to get progress in the whole book, no the current chapter."
We wanted to implement ourselves, but couldn't get total number of pages in the book. All we can get is total number of pages in current chapter

[2017-02-17 11:51] mahavir155 commented on #59
@hebertialmeida seems to be working great.. But since it replaces <p> with <br> we can see bit change in font.. But i think it is acceptable..

thanks @ajeenats

[2017-02-17 14:44] umair151 opened #69 "How can I show the cover image?"

[2017-02-20 10:26] fldevil opened #70 "how to remove this selection drager"
Hope to get the solution

[2017-02-20 18:45] eganipad opened #71 "Progress Page"
Is there a way to retrieve the last page that was read before the user close the reader?

Thanks

[2017-03-02 07:57] Rachita86 opened #72 "position mismatch"
Hi, A very good repository for epub, but i am facing 1 problem i.e. position mismatch of highlight text.
My page size is 1010 X 550 and i code it fit to screen. so while we are launching it in  device with resolution 1280 X 800, page automatically scale into 1280 X 720.
But while i am using your code for highlight if i select 1st line word cursor remain in same position and focus goes on 2nd or 3r

[2017-03-02 16:28] TosinRoger commented on #10
I left this project, the staff that stayed did not send the modifications

[2017-03-14 18:49] leon-alan commented on #56
i had the same problem with epubs with many chapters, but not only with the API 24, also with 23 and i solved it but the fix not works with Nougat. Do you found a solution?

[2017-03-15 06:47] Kinaiken opened #73 "Sometimes following error has showing?"
W/System.err: java.lang.IllegalStateException: Fragment FolioPageFragment{f42573a} not attached to Activity
W/System.err:     at android.support.v4.app.Fragment.getResources(Fragment.java:646)
W/System.err:     at android.support.v4.app.Fragment.getString(Fragment.java:668)
W/System.err:     at com.folioreader.fragments.FolioPageFragment$4.onJsAlert(FolioPageFragment.java:311)
W/System.err:     at

[2017-03-27 13:26] Skyna commented on #59
@ajeenats Where do i put this solution?

[2017-03-28 08:45] caprice opened #74 "It seems it doesn't support Img tag now?"
As title mentions, I have some image icon need to be shown in epub. It displays correctly in iBooks, but not when using this library.

[2017-04-03 08:58] gmeral opened #75 "OutOfMemoryError : Loading large Epub File."
FolioReader has been working fine so far for me, thanks  a lot !
However when i tried to open a large epub file (~250MB), i got an Out of Memory error.
It seems like everything is loaded in memory.
Does folioReader not support large files or did i miss something ?

Thanks in advance for your help.
[code]

[2017-04-03 11:35] gmeral commented on #75
The problem in this case seem to come from this line in FileUtil:saveTempEpubFile :

[code]

According to https://developer.android.com/reference/java/io/InputStream.html#available()

Note that while some implementations of InputStream will return the total number of bytes in the stream, many will not. It is never correct to use the return value of this method to allocate a buffer intended to hold

[2017-04-06 11:41] sabinbs opened #76 "Highlighted Color is not Showing back in epub"
Highlighted Color is not Showing back in epub after clicking rows in HighlightList !!

[2017-04-12 08:30] ravigupta9363 opened #77 "Book Cover Image is not displying"
Thanks for the awesome library, I just want to know why my Book Cover is not getting displayed in Android.

[2017-04-13 12:00] nikita2423 commented on #77
This solution is a little hacky

Folio base url file path is getting wrong. You will have to change the code  to  make it work.

[code]

[2017-04-13 12:01] nikita2423 commented on #14
Working solution
[https://github.com/FolioReader/FolioReader-Android/issues/77](How to display images in Epub using Folio Reader)

[2017-04-13 12:03] nikita2423 commented on #69
Working solution
[How to display image in Folio Reader using Epub](https://github.com/FolioReader/FolioReader-Android/issues/77)

[2017-04-13 12:03] nikita2423 commented on #74
Working solution
[How to display image in Folio Reader using Epub](https://github.com/FolioReader/FolioReader-Android/issues/77)

[2017-04-17 12:07] ruchikasharma09 opened #78 "Observable web view doesn't load html when swipe fast in right and left direction"
Hi,

I have changed the Viewpager direction to horizontal

private void setBookData() {
mFolioPageViewPager.setDirection(DirectionalViewpager.Direction.HORIZONTAL);
}
in FolioActivity. But while swap book left and right in speed web view  doesn't load the data even it has content. Please help

[2017-04-24 04:47] mehdidanesh98 commented on #46
I have this problem too,
I changed version but it's not true
please find another solution.

[2017-04-26 04:58] sabinbs opened #79 "Highlighting two nearby words [No Issue]"
Hi,
First of all, I am asking about a task,which is not an issue. Actually, I have to select two nearby words in the same line. So far we are done is there is an alert which showing the overlap of lines,which we happened to select the selected line.. I am asking, Is there any possibilities to change the Bridge.js in order to make this happen.. Anyone Knows this thing..Please help me..

[2017-05-01 06:36] premamani125 opened #80 "FolioReader-Android NullPointerException at FolioActivity"
As I am new to android programming, I don't now Why I am getting this error. Please help me.

FATAL EXCEPTION: main
                                                                            Process: myreader.reader.com.myreader, PID: 3034
                                                                            java.lang.NullPointerException

[2017-05-03 09:59] dawoodmughal7 opened #81 "Enable Horizontal Scroll Only for Book Reading"
I'm trying to **disable Vertical Scroll** and only **enable Horizontal Scroll**. This is _possible on iOS_ but not in Android. How I'll be able to enable **Horizontal Scroll**?

P.S: I've tried using HorizontalViewPager class and minor changes to ObservableWebView but nothing is working. Please do provide your support.

[2017-05-04 09:51] vikydev opened #82 "java.lang.NullPointerException: Attempt to invoke virtual method 'nl.siegmann.epublib.domain.TableOfContents nl.siegmann.epublib.domain.Book.getTableOfContents()'"
I have used the following dependency in our app build.gradle

compile 'com.folioreader:folioreader:0.2.5'

But am getting the following error while run my app.

"java.lang.NullPointerException: Attempt to invoke virtual method 'nl.siegmann.epublib.domain.TableOfContents nl.siegmann.epublib.domain.Book.getTableOfContents()'"

please help me to resolve this issue.  i have tried your previous version

[2017-05-09 04:48] CMathgician commented on #59
@mahavir155 : can u post the bridge.js after edited?

[2017-05-09 09:04] mahavir155 commented on #59
@CMathgician solution mentioned here fixed this issue, but broke others features.. So, reverted those changes..

[2017-05-10 15:07] lillogoal commented on #81
How did you solve it? I'm also interested

[2017-05-10 15:07] lillogoal commented on #79
How did you solve it? I'm also interested

[2017-05-10 15:08] lillogoal commented on #15
How did you solve it? I'm also interested

[2017-05-10 15:09] lillogoal commented on #10
How did you solve it? I'm also interested

[2017-05-11 07:41] dawoodmughal7 commented on #81
I'm unable to solve it currently. Looking forward for this lib Author to provide any details if we can enable Horizontal Scroll in Folio Reader. The problem is, a single chapter can scroll vertically, but all chapters scroll horizontally (due to a ViewPager hierarchy used for managing such purpose). But in iOS, the book is converted all into Horizontal Scroll, which I'm unable to obtain in Android

[2017-05-11 15:16] lillogoal commented on #81
Ok ty.
If you solve it please tell me

[2017-05-15 04:50] VadivelChinnasamy opened #83 "Images not loaded when change font"
when enter first time image loaded then change font style image cannot be loaded

[2017-05-19 06:51] K00lkaM opened #84 "Proguard rules for FolioReader"
Does any body know the proguard rules for obfuscation of the library?

[2017-05-22 13:44] umerk44 opened #85 "If table of content has more than one child, it's doesn't show them"
I've notice in the scenario where we have more than one child in table of content it's doesn't show the child component, it only shows parent component.

[2017-05-23 13:47] BeMyHeart commented on #82
Does anybody know how to fix this problem

[2017-05-24 17:26] umerk44 opened #86 "App crashes when spin reference is less than table of content"
I notice some times spin reference are less the table of content and when user select table of content it's crashes with index out of bound exception. So wondering how spin reference calculation really happening here.

[2017-06-01 04:06] tungdx commented on #84
Try this one, it works for me
`-dontwarn nl.siegmann.epublib.**`

[2017-06-01 04:15] tungdx opened #87 "Font size doesn't change for whole book"
Only current chapter or next chapter is effected by changing the font size. The before the current chapter isn't. Hope to get a solution

[2017-06-01 17:39] keletsomolefe commented on #82
Hi, you have to allow Write permission

[2017-06-07 05:55] inlokim commented on #80
Ummm....Who can answer?

[2017-06-17 01:14] sinshm opened #88 "NoClassDefFound Error"

[2017-06-17 01:35] #88 closed

[2017-06-17 01:36] sinshm opened #89 "NoclassdefFound Error"
E/AndroidRuntime: FATAL EXCEPTION: main
                                                                       java.lang.NoClassDefFoundError: android/webkit/JavascriptInterface
                                                                           at java.lang.reflect.Method.isAnnotationPresent(Native Method)
                                                                           at java.l

[2017-06-20 08:26] KangCabana commented on #46
0.2.4 version doesn't fix this bug

[2017-06-24 17:54] mohammadalbad opened #91 "PDF Support Needed"

[2017-07-05 13:14] playscforever opened #92 "java.lang.NullPointerException: Attempt to invoke virtual method 'void android.support.v7.app.ActionBar.hide()"
error:
java.lang.RuntimeException: Unable to start activity ComponentInfo{me.o2read.o2literature/com.folioreader.activity.ContentHighlightActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.support.v7.app.ActionBar.hide()' on a null object reference

source code:

public class ContentHighlightActivity extends AppCompatActivity {
    private Book mBook;
    pri

[2017-07-06 05:47] harishsave opened #93 "How to change default Green color in Folio UI"
I want to change the default Green color in Folio viewer UI. How to do that?

[2017-07-06 19:04] admin-vividlipi commented on #87
Dear Team, We are looking for support to get font or day/night changes applied to all chapters and pages. This is not working in our implementation. can someone support in this regards

Regards
Pramod

[2017-07-06 19:22] admin-vividlipi opened #94 "Highlighted text not listed in Highlights section (next to contents)"
We are facing issue of highlighted text not displayed in "Highlights" section which is next to "Contents" Section. Please can someone suggest the remedy for this issue.
This issue is only in Android version of Folio and not in IOS.

Regards
Pramod

[2017-07-18 11:01] anhhtbk opened #96 "How to custom setting?"
I want to change some setting, example: remove speaker, add new font, set default font, set default size..., How to do these?

[2017-07-20 19:21] danfsd commented on #92
Same thing happening here. I clicked on the **Content Highlight** button right next to the **close** button after adding the `FolioActivity` inside the `AndroidManifest.xml` and I got this same result.

[2017-07-22 11:04] svkdvlp commented on #82
With write permission I get the same error

[2017-07-27 21:45] nandorrb opened #97 "Error when importing using Gradle"
When I try to import using Gradle I get this:

/Users/mobile/.gradle/caches/transforms-1/files-1.1/folioreader-0.2.3.aar/79a625c2c7149e7fa5f1e9c550a5f7de/res/values/values.xml
Error:(111, 5) style attribute '@android:attr/windowEnterAnimation' not found
Error:(111, 5) style attribute '@android:attr/windowExitAnimation' not found
Error:(115, 5) style attribute '@android:attr/windowEnterAnimation' n

[2017-08-02 13:58] eganipad commented on #62
hello, any update on this? 0.2.5 still have this issue

[2017-08-03 17:37] valinaga commented on #96
Hi everyone,

I spent like a whole day playing with Folio on Android. I'm far from an Android decent developer, but I'm quite familiar with java.
In order to customize, you need to import the folio reader and the webviewmaker into your project, and then tweak the source.
So, to remove speaker, you need to edit the folio_activity.xml and remove the last ineer LinearLayout (the one with btn_speaker)

[2017-08-03 17:41] valinaga commented on #94
@admin-vividlipi I used the last version and saved the highlight and it shows correctly in highlights.

[2017-08-03 17:44] valinaga commented on #93
@harishsave it was indeed challenging! :)
First I modified all the icons in the resources, those in green. Pay attention that icon_font has different resolutions. you need to modify them all.
Then I changed the app color. Best is to search for green in the whole project and try to replace each appearance and see what's happening.
Good luck.

[2017-08-03 17:49] valinaga commented on #87
@tungdx @admin-vividlipi the day/night issue is still there. I change the visibility of the layout in view_confi.xml to gone at least to not show the users the option. Better no option than a broke one.
With the font size, it's pretty bad. I don't want to remove this option. Will still try to look into it. If I find a solution will let you know.

[2017-08-03 17:52] valinaga commented on #85
Yes, that's pretty bad. However, when the book is loaded, the lib is building the TOC as html file recursively, and save it locally in the book folder. However, in the content highlight activity it passes the original toc to the list. If there are children, none will be shown. Pretty bad. :(

[2017-08-08 15:33] valinaga opened #98 "[TOC issue] no link between TOCReference and SpineReferene"
Hi,

I have a problem with the TOC.
The href in TOC looks like this:
`Text/Ernesto_Sabato-Abaddon_exterminatorul-5.html#toc_marker-2-1` (note the# and marker)
but the spines hrefs are like this:
`Text/Ernesto_Sabato-Abaddon_exterminatorul-5.html`
The code for the TOC will jump to the nearest spine based on same reference title, and not on the actual TOC.
Any suggestion how to fix this issue?
Thank

[2017-08-09 20:28] sethchhim commented on #97
I am unable to build too, I think there is a conflict with support library 26.0.0 because it built fine before.

@nandorrb Can you post your Android Studio version and Support Library version so I can confirm?

[code]

[2017-08-10 10:25] ainiyiwan opened #99 "can this webViewMarker use in bitmap with text？I am coding a reading app, i want to get text from the bitmap, sorry , my english is poor ,i hope you can undstand what i said"

[2017-08-11 12:39] mahavir155 commented on #98
@valinaga can you please check above bug with version 0.3.1?

[2017-08-11 12:39] mahavir155 commented on #99
folioreader is not meant to get text from bitmap.

[2017-08-11 12:39] #99 closed

[2017-08-11 12:42] mahavir155 commented on #96
@anhhtbk good idea. i think, it would be good if we provide some interfaces or params, so developer can change the settings without tweaking FR source..

[2017-08-11 12:43] mahavir155 commented on #94
@admin-vividlipi can you please check with latest version 0.3.1 if you still face the issue?

[2017-08-11 12:46] mahavir155 commented on #92
@danfsd @playscforever please check with latest version 0.3.1.. If above issue is still reproducible with latest version

[2017-08-11 12:47] mahavir155 commented on #89
@sinshm please check with latest version 0.3.1

[2017-08-11 14:13] valinaga commented on #98
@mahavir155 thank!
Now it's ok. Even the TOC is now full. I used to add it as a list recursively.
Need to look into it to make the TOC tree expanded. It looks better that way.
But this issue can be closer.
Thanks again.

[2017-08-11 14:36] sethchhim opened #101 "Error: Failed to resolve: org.readium:r2-server:0.1.2"
I tried to build version `0.3.1` but it fails with this error: `Error: Failed to resolve: org.readium:r2-server:0.1.2`. Any idea how I can fix this?

[2017-08-11 14:55] #98 closed

[2017-08-11 14:56] mahavir155 commented on #101
@sethchhim do you have internet connection while syncing?

[2017-08-11 14:57] mahavir155 commented on #97
@sethchhim can you check if new version 0.3.1 works for you?

[2017-08-11 14:59] mahavir155 commented on #87
@tungdx @admin-vividlipi @valinaga
can you please check if new version 0.3.1 have this issue?

[2017-08-11 15:02] mahavir155 commented on #86
@umerk44 please check if this issue is there on new version 0.3.1

[2017-08-11 15:03] mahavir155 commented on #85
I think it should be fixed now.. @umerk44 @valinaga can you please confirm?

[2017-08-11 15:04] mahavir155 commented on #83
I think this should be fixed with new version 0.3.1
@VadivelChinnasamy can you please confirm?

[2017-08-11 15:05] mahavir155 commented on #82
@vikydev with new version 0.3.1, it should be fixed.. can you please confirm and close the ticket?

[2017-08-11 15:07] valinaga commented on #87
@mahavir155
It looks like the night mode is preserved across chapter as well as font size and font family.
This issue can be closed now.
Thanks

[2017-08-11 15:08] mahavir155 commented on #80
@inlokim @premamani125 with new version 0.3.1, it should be fix.. can you please confirm and close the ticket?

[2017-08-11 15:11] #87 closed

[2017-08-11 15:15] valinaga commented on #85
@mahavir155
Yes, that's fixed now. However it will be benefic if the TOC will be expanded when in Contents.
I have books with only one element at the root and it looks pretty bad.

[2017-08-11 15:28] mahavir155 commented on #85
@valinaga thanks for feedback.. can you create separate ticket for same? ticket with screenshot will help..
for now i am closing this ticket

[2017-08-11 15:28] #85 closed

[2017-08-11 15:29] mahavir155 commented on #76
should be fixed now with v0..3.1..

[2017-08-11 15:29] #76 closed

[2017-08-11 15:30] valinaga opened #102 "[0.3.1] Not all links from the TOC goes to the right section in book."
For couple of situations, especially links with hashes they don't link to the right section in book.
https://www.dropbox.com/sh/ej5p93xof9cpxo7/AACsoLwz0RzDui8w_v8a7Wqia?dl=1
Above is a link to such a file.
The 2nd level children in TOC does not work correctly. Only the 1st level and the root work fine.
`Text/Ernesto_Sabato-Abaddon_exterminatorul-5.html#toc_marker-2-1` for instance, does not work.

[2017-08-11 15:34] sethchhim commented on #101
@mahavir155 Yes I have a solid internet connection. My other dependencies load fine but this one fails. I have also tried to create a new project with this library and the build still fails.

[2017-08-11 16:03] mahavir155 commented on #75
Should be fixed with v0.3.1 @gmeral ..

[2017-08-11 16:03] #75 closed

[2017-08-11 16:07] mahavir155 commented on #74
should be fixed now with v0.3.1

[2017-08-11 16:07] #74 closed

[2017-08-11 16:10] mahavir155 commented on #71
@eganipad i think book is opened from the page where it was left last time.. isn't it?

[2017-08-11 16:11] #5 closed

[2017-08-11 16:26] sethchhim commented on #101
@mahavir155 Looked at your sample app and adding this repository lets me continue
[code]

but I get a (unrelated from this thread) error:

[code]

I suspect this is because I'm using Android Studio 3 Beta 1 because I want to try out Kotlin. I will side load stable channel Android Studio 2 and let you know. Thanks for the support.

[2017-08-11 16:59] sethchhim commented on #101
Partially Solved: It builds fine using stable Android Studio 2.3.3 with the added repository. I hope it works for Android Studio 3+ in the future but I understand that is up to Google.

[2017-08-11 16:59] #101 closed

[2017-08-12 07:26] GautamChibde commented on #102
@valinaga epub book you provided at this [link](https://www.dropbox.com/sh/ej5p93xof9cpxo7/AACsoLwz0RzDui8w_v8a7Wqia?dl=1) doesn't seem to be a valid file, could u provide a valid file so that we can look into the bug.

[2017-08-12 08:09] valinaga commented on #102
@GautamChibde here it's a new one. looks like dropbox was seeing this as a zip file.

https://drive.google.com/a/cevadesign.ro/file/d/0B6CM9Y6P_V65dGdKc1hZeU9tNzg/view?usp=sharing

[2017-08-12 11:53] sethchhim commented on #97
@mahavir155 It buids fine in Android Studio 2.3.3 but if I use Android 3 Beta 2, it will fail to build due to error of `duplicate value for resource attr/font with config` and `resource previously defined here`. I think it might work if you update latest support library version to `26.0.1`. I will continue to check.

[2017-08-22 13:30] vijildhas opened #104 "Empty getAllHighlights"
I have used FolioReader-Android, working good Lolipop and above, but when I use Kitkat the Highlights list is empty.

public static ArrayList<Highlight> getAllHighlights(String bookId) {
        ArrayList<Highlight> highlights = new ArrayList<>();
        Cursor highlightCursor = DbAdapter.getAllByKey(HighLightTable.TABLE_NAME, HighLightTable.ALL_COLUMNS, HighLightTable.COL_BOOK_ID, bookId);

[2017-08-23 09:55] Maruf13 opened #105 "Problem when importing using gradle dependency?"
how solve this problem:
My android studio version is 2.2.3
    compileSdkVersion 26
    buildToolsVersion "26.0.0"
dependencies {
    compile fileTree(dir: 'libs', include: ['*.jar'])
    androidTestCompile('com.android.support.test.espresso:espresso-core:2.2.2', {
        exclude group: 'com.android.support', module: 'support-annotations'
    })
    compile 'com.android.support:appcompat-v7:26.0.

[2017-08-23 11:14] heinzan commented on #105
Yes.This Error happen me too.
how can solve?

apply plugin: 'com.android.application'

android {
    compileSdkVersion 25
    buildToolsVersion "26.0.0"
    defaultConfig {
        applicationId "com.heinzan.folioreader"
        minSdkVersion 15
        targetSdkVersion 25
        versionCode 1
        versionName "1.0"
        testInstrumentationRunner "android.support.test.runner.AndroidJUnitRun

[2017-08-23 11:51] GautamChibde commented on #105
@Maruf13 @heinzan add this code to your project build.gradle file
[code]

[2017-08-23 13:08] SandeepADexoit opened #106 "Epub file is not visible"
I have specified epub file in raw folder but it doesn't get shown in FolioReader.
What should i do ?
Also can u give me a sample .epub file.

[2017-08-23 13:41] Maruf13 commented on #105
@GautamChibde why required jar file can not execute?
Error:Execution failed for task ':app:transformResourcesWithMergeJavaResForDebug'.

	File1: C:\Users\Maruf\.gradle\caches\modules-2\files-2.1\com.fasterxml.jackson.core\jackson-core\2.8.6\2ef7b1cc34de149600f5e75bc2d5bf40de894e60\jackson-core-2.8.6.jar
	File2: C:\Users\Maruf\.gradle\caches\modules-2\files-2.1\com.fasterxml.jackson.core\jackson-an

[2017-08-23 13:57] GautamChibde commented on #105
@Maruf13 it seems the issue is a dependency conflict within the application. You can look at this post [here](https://stackoverflow.com/a/37586871/5164673).

If the issue still persists then you can provide your top level and module level build.gradle files here.

[2017-08-23 16:21] Maruf13 commented on #105
Thanks @GautamChibde  it works.

[2017-08-23 16:50] Maruf13 commented on #106
@SandeepADexoit
Same problem

[2017-08-23 19:15] Maruf13 opened #107 "Epub file don't loaded when add dependency & intent?"
When i donloawd as a zip file, whole "FolioReader-Android" project and put my required epub file in asset folder and call it using openEpub, then it works beautifully.
But when i add dependency to my app build.graddle and call epub file using intent, then my app crashed. I check it many times. but all times it crashed.

[2017-08-24 05:39] mahavir155 commented on #107
Can you post crash report? Also which version of FolioReader?

[2017-08-24 05:45] #105 closed

[2017-08-24 09:13] SandeepADexoit opened #108 "Issue while building Gradle file"
I have downloaded zip and imported it in android studio. It asked to update Gradle file and i updated it.
Now showing me this issue.
What to do ?
![image](https://user-images.githubusercontent.com/31063996/29659012-823c5acc-88da-11e7-8701-f55e9c99f399.png)

[2017-08-24 09:14] SandeepADexoit commented on #108
Help me out. I need it quite urgently.

[2017-08-24 10:25] Maruf13 commented on #107
@mahavir155
FATAL EXCEPTION: main

                                                                android.content.ActivityNotFoundException: Unable to find explicit activity class {nextup.stevejobs/com.folioreader.ui.folio.activity.FolioActivity}; have you declared this activity in your AndroidManifest.xml?
                                                                    at android.app.Instrum

[2017-08-24 10:43] mahavir155 commented on #107
@Maruf13 add FolioActivity in your projects AndroidManifest:
[code]
Also add following permissions:
[code]

[2017-08-24 10:44] #107 closed

[2017-08-24 10:49] mahavir155 commented on #106
@SandeepADexoit Please paste your code.. You can find sample epub file in sample project..

[2017-08-24 10:51] mahavir155 commented on #102
@valinaga looks like we don't have access to epub file.. I have requested access, so we can test that epub..

[2017-08-24 10:54] valinaga commented on #102
let me see how to share it better. as google drive unzip the epub.
just a sec.

[2017-08-25 03:21] heinzan commented on #105
Thanks @GautamChibde  it fine

[2017-08-25 06:52] heinzan commented on #106
I think permission add in manifest.Read and Write Permission.This issue solved in my projet

[2017-08-26 07:51] vijildhas opened #111 "Build Error com.folioreader:folioreader:0.3.1"
![untitled](https://user-images.githubusercontent.com/6582853/29739683-64b799de-8a61-11e7-900f-75c00eed4ef0.png)

[2017-08-28 05:20] GautamChibde commented on #111
@vijildhas see issue #105

[2017-08-28 08:20] vijildhas commented on #111
//this is my root grandle
// Top-level build file where you can add configuration options common to all sub-projects/modules.
buildscript {
    repositories {
        jcenter()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:2.3.3'
    }
}
allprojects {
    repositories {
        jcenter()
        maven {
            url "https://jitpack.io"
        }
        maven {

[2017-08-30 05:38] BrianLusina commented on #97
I am encountering the same issue, even with the support library of 26.0.1. Is there a way to make this work with this support library version? I can't seem to find a workaround

[2017-08-30 22:59] jorgevalbuena56 commented on #97
I am having the same issue any solution?

[2017-09-02 11:11] japsoftware opened #112 "Opening an epub gives me the following error"
Communication with the client broken, or an bug in the handler code
java.lang.NullPointerException:
Attempt to invoke virtual method 'fi.iki.elonen.NanoHTTPD$Response fi.iki.elonen.router.RouterNanoHTTPD$UriResource.process
(java.util.Map, fi.iki.elonen.NanoHTTPD$IHTTPSession)' on a null object reference
at fi.iki.elonen.router.RouterNanoHTTPD$UriRouter.process(RouterNanoHTTPD.java:596)
at fi.iki.

[2017-09-02 11:37] mahavir155 commented on #112
Seems like some problem in parsing epub. Is it possible for you to share epub?

[2017-09-02 11:46] japsoftware commented on #112
I have two test devices. The same ebook works on one of the devices. The device on which it fails is a Lenovo A10-30 tablet. Thanks for the help

[2017-09-06 07:32] CharanjeetTuteja commented on #91
Hi mahavir,
Any updates on pdf support?

[2017-09-07 04:30] dungnguyendotme opened #113 "Will it support swipe left-right to change page like Kindle app"
As the title, will it support swipe left-right to change page like Kindle app?

[2017-09-08 06:51] sdilizio commented on #106
Same problem. Added read and write permissions in manifest. Used the sample EPUB. FolioReader interface loads but with no EPUB.

So, I just added the following to an empty activity created by Android Studio and linked the following to a button):

    public void goRead(View view) {
        Intent intent = new Intent(NavActivity.this, FolioActivity.class);
        intent.putExtra(FolioActivity.INTE

[2017-09-08 06:59] mahavir155 commented on #106
@sdilizio Can you check the logs for the problem and paste it here?

[2017-09-08 07:10] heinzan commented on #106
@sdilizio.Check your epub file location and type.This solved for me.good luck

[2017-09-08 07:28] sdilizio commented on #106
09-08 17:27:32.482 26721-26721/? E/Zygote: v2
09-08 17:27:32.482 26721-26721/? I/libpersona: KNOX_SDCARD checking this for 10035
09-08 17:27:32.482 26721-26721/? I/libpersona: KNOX_SDCARD not a persona
09-08 17:27:32.483 26721-26721/? E/Zygote: accessInfo : 0
09-08 17:27:32.483 26721-26721/? W/SELinux: SELinux selinux_android_compute_policy_index : Policy Index[2],  Con:u:r:zygote:s0 RAM:SEPF_SECM

[2017-09-08 07:58] avez321 commented on #102
@valinaga  the epub file is not a valid file, can i know which epub tool is been used to create this file.

[2017-09-08 08:18] valinaga commented on #102
@avez321 Hi,

The book is ok. I just downloaded and opened in iBooks. For some reasons, dropbox add the zip extension to the epub. Just drop the zip extension after download and keep only the epub extension. Do not unzip it. Just delete the .zip from the file name. It should work with no problem.

[2017-09-09 04:00] rajvalentino commented on #102
https://we.tl/QTHpaMrouW . check it @valinaga

[2017-09-09 05:59] mahavir155 commented on #106
Cool, so it solved.. I will close the issue

[2017-09-09 05:59] #106 closed

[2017-09-09 09:54] CharanTuteja opened #114 "Getting extra text in epub"
I get " ]> " this tag (without quotes) for specific epub file. Why so?

Pasting link for file below:
https://drive.google.com/open?id=0BxdAJPH498ffSmpiTGMtSGFWcDg
Any suggestion will be appreciated.

[2017-09-09 11:14] anjiao opened #115 "Unexpected end of document"
Unexpected end of document

 at com.folioreader.ui.folio.activity.FolioActivity.addEpub(FolioActivity.java:205)

[2017-09-20 12:27] saurabhthorat commented on #97
Has anyone found a fix for this problem?

[2017-09-20 12:32] BrianLusina commented on #97
I forked the library and had to comment [this](https://github.com/FolioReader/FolioReader-Android/blob/b2a14a781ef3011bb5be6a0abdcf3a315b94d255/folioreader/res/values/attrs.xml#L3) out for it to work.

[2017-09-30 10:47] zubyf09 commented on #105
@GautamChibde  when i added this
`repositories {
        maven {
            url "http://dl.bintray.com/mobisystech/maven"
        }
    }`
getting new error

Error:(29, 13) Failed to resolve: com.android.support:appcompat-v7:26.0.2
<a href="install.m2.repo">Install Repository and sync project</a><br><a href="openFile:/Volumes/WORK/Android/WorkSpace/UbookReader/app/build.gradle">Show in File</a><b

[2017-10-01 10:20] zubyf09 commented on #113
@GautamChibde waiting for you answer.

[2017-10-01 11:02] KhalidElSayed commented on #113
@mahavir155 what about this feature?

[2017-10-04 07:05] sdilizio commented on #112
Same error using two of the sample EPUBs included with the project. Using an emulator with API 25.

Thought it was me until I re-cloned a fresh copy of the repository and got the same thing.

The following error also arrives just below the one already listed above.

Few more details that weren't posted above:
com.folioreader.android.sample E/SQLiteLog: (1) no such column: rangy

and then:
 FATAL E

[2017-10-04 07:19] mahavir155 commented on #112
You probably have previous version of FolioReader already installed. Try to uninstall previous version and then run again.

On 4 October 2017 at 12:35:45 +05:30, sdilizio <notifications@github.com> wrote:

[2017-10-06 01:54] sdilizio commented on #112
Thanks for the suggestion. I did a complete fresh clone of the repo in a separate project and still had this problem. Would it really be an older version in another project making a difference?

As well, I'm finding that the error seems to depend on which emulator I'm running. I was running a Nexus S emulator on API 26, and everything worked fine. However, running API 25 on a Galaxy S6 emulator pr

[2017-10-06 03:17] sdilizio commented on #105
For the duplicate file error, you can just use the following and your build.gradle app file:

android {
    packagingOptions {
        exclude 'META-INF/LICENSE'
    }
}

[2017-10-06 06:45] Bajranghudda commented on #91
When PDF support will be available in this cool library?

[2017-10-06 06:49] mahavir155 commented on #91
Really not planned yet. But if you or your friend interested in contributing PDF support, you are welcome :).

On 6 October 2017 at 12:15:03 +05:30, Bajrang Hudda <notifications@github.com> wrote:

[2017-10-10 04:08] KhalidElSayed commented on #92
comment the below line and you ok
`getSupportActionBar().hide();`

[2017-10-16 03:01] changefouk opened #120 "Can change locale text-to-speech ?"
can config to change locale tts if language epub file not english language.

[2017-10-20 10:23] zubyf09 commented on #113
@KhalidElSayed  @dungnguyendotme they are using DirectionalViewpager in folio_activity.xml file in code change the orientation Vertical to horizontal will do left right swipe for you.

[2017-10-22 03:39] alqaimsolutions5 opened #121 "Getting crash while opening epub"
NullPointerException: Attempt to invoke virtual method 'android.database.Cursor android.database.sqlite.SQLiteDatabase.rawQuery(java.lang.String, java.lang.String[])' on a null object reference
                                                                           at com.folioreader.model.sqlite.DbAdapter.getHighlightsForPageId(DbAdapter.java:84)

[2017-10-22 07:54] altafkhan8719 commented on #115
i am also getting same error , but same epub file are working with other reader FBreader.

[2017-10-24 11:30] blennerSilva opened #122 "Failed to compile"
Error:Failed to resolve: org.readium:r2-fetcher:0.1.2
<a href="openFile:/Users/blennersilva/Developer/workspaces/android/EpubReader/app/build.gradle">Open File</a><br><a href="open.dependency.in.project.structure">Show in Project Structure dialog</a>

i tried compiling the mot current version and generated this error.

and compiling the 0.2.5 version the project keeps crashing
why is this happenin

[2017-10-24 16:35] #122 closed

[2017-10-24 16:39] blennerSilva commented on #81
is there any update about this issue? i really need this to be horizontaly

[2017-10-24 16:41] lillogoal commented on #81
i don't know sorry!!

[2017-10-24 16:42] blennerSilva opened #123 "Horizontal Scroll"
is there any way you guys can enabled horizontal scroll?

[2017-10-25 12:06] playscforever opened #124 "I have changed it before"
![image](https://user-images.githubusercontent.com/7533665/31997788-df8b9b54-b952-11e7-92a0-b3a304e15534.png)
I have changed it before . now it's gone in version 0.3.2

[2017-10-25 12:43] playscforever opened #125 "0.3.2 night mode the text is black"
![image](https://user-images.githubusercontent.com/7533665/31999225-2dc91710-b958-11e7-882e-072210822350.png)

text still black

[2017-10-30 05:08] GAumala opened #126 "Can't change font size"
I have a particular `.epub` file in which changing the font size value with the seek bar does update the `fontSize` in the `Config` class and trigger a rerender of `FolioPageFragment`, but the font size remains the same, no matter what. This bug only happens with this particular file, the ones provided in the sample app change the font size flawlessly.

I'm not sure why does this happen. As far as

[2017-10-30 12:26] Semper-Viventem opened #127 "Duplicate value for resource: attr/font"
When working with the support library 26.1.0, there is an attribute conflict (attr/font).

` AGPBI: {"kind":"error","text":"error: duplicate value for resource \u0027attr/font\u0027 with config \u0027\u0027.","sources":[{"file":"/home/konstantin/.gradle/caches/transforms-1/files-1.1/appcompat-v7-26.1.0.aar/92547b07694958bd73718d8755888207/res/values/values.xml","position":{"startLine":245,"startCo

[2017-10-30 16:23] admin-vividlipi opened #128 "Images downloaded when access EPUB files"
Greetings,

We have observed images are downloaded when open a EPUB file. Images are stored in image gallery and this creates discomfort in UI experience
Can this be corrected.

Regards
Pramod

[2017-10-31 04:27] sdilizio opened #129 "Error: style attribute '@android:attr/windowEnterAnimation' not found."
Updated to Android Studio 3.0. Started getting a lot of the following in values.xml:
Error:(117, 5) error: style attribute '@android:attr/windowEnterAnimation' not found.
Error:(117, 5) error: style attribute '@android:attr/windowExitAnimation' not found.

This stuff is generated by the build, so I haven't touched it. Android Studio claims it is 100% up to date. Any ideas on what is happening here

[2017-11-01 02:05] #129 closed

[2017-11-02 10:23] playscforever commented on #115
so do i

[2017-11-02 10:41] yzjsbsb commented on #115
me too

[2017-11-03 01:23] xuedongchao opened #132 "能把上下翻页改成左右翻页吗？"
如题

[2017-11-03 02:38] playscforever commented on #115
@hebertialmeida @kjantzer

[2017-11-03 03:02] sdilizio commented on #121
Same error here.

[2017-11-03 15:17] kjantzer commented on #115
Sorry, I've only been involved with the iOS version.

[2017-11-06 11:07] shahabrauf18 commented on #123
It may help you, https://github.com/shahabrauf18/FolioReader-Android

[2017-11-06 13:09] GautamChibde commented on #128
@admin-vividlipi can you check this on version **0.3.2**. Also, delete _**folioreader**_ folder from internal storage.

[2017-11-09 15:05] #97 closed

[2017-11-13 10:06] thestr4ng3r commented on #127
Isn't this completely fixed by #131? If yes then the issue should be closed.

[2017-11-13 10:09] Semper-Viventem commented on #127
@thestr4ng3r Yes, this is my pull-request. Forgot to close the branch :)

[2017-11-13 10:09] #127 closed

[2017-11-13 15:24] thestr4ng3r commented on #112
It's because the WebView tries to fetch a favicon from the Readium server, which obviously fails.

[2017-11-15 18:06] Semper-Viventem opened #140 "Crash when you try to open the table of contents"
Process: ru.mobileup.sbervs.dev, PID: 13443
                  java.lang.RuntimeException: Unable to start activity ComponentInfo{ru.mobileup.sbervs.dev/com.folioreader.ui.folio.activity.ContentHighlightActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.support.v7.app.ActionBar.hide()' on a null object reference
                      at android.app.ActivityThr

[2017-11-16 08:02] Dylc commented on #126
[code]

I had the same problem
I changed this class to the following
`
.textSizeOne * { font-size: 13px !important; }
...
`

but this will override every children's properties so I use `!important` in order to save proportion of h1...h6 and p etc

In your case use

[code]

[2017-11-16 08:08] Vilitsa commented on #121
any ideas?

[2017-11-16 08:14] Dylc commented on #80
@premamani125 android change it's [permission system since android 6.0 ](https://developer.android.com/guide/topics/permissions/requesting.html#normal-dangerous)

and also [here](https://developer.android.com/training/permissions/requesting.html)

Folio Reader copies files to external storage and this is [dangerous permission](https://developer.android.com/reference/android/Manifest.permission.htm

[2017-11-16 11:27] mahavir155 commented on #80
@Dylc r2-streamer library starts the light weight server and it uses epub file path as a servers base route..

[2017-11-16 13:48] #112 closed

[2017-11-16 17:49] blennerSilva commented on #123
i does help but its a lil outdated...is there anyway to implement it on the newest tag?

[2017-11-16 19:56] blennerSilva commented on #123
is there anyway to adapt what you did to the latest lib?

[2017-11-17 07:18] shahabrauf18 commented on #123
Yes you can use my class HorizontalWebView instead of the ObservableWebView.

[2017-11-17 12:21] blennerSilva commented on #123
ok i see that but how am i suppose to adapt the class that dont exist anymore such as TEXTELEMENT and somo methods of APPUTILS?

[2017-11-17 19:07] blennerSilva commented on #123
is there anyway to implement the class without having to pretty change the whole structure of the 0.3.2 lib? i tried doing just the HorizontalwebView and HorizontalFragment....but the highlight db is completely different and other classes needed too...can you give me a guide on how to implement that on 0.3.2 i know im asking alot

[2017-11-17 20:07] vinit-poojary-au8 opened #141 "please help me with Parse epub cover image"

[2017-11-20 14:59] Dylc opened #142 "Doesn't change font size when epub has several headings (fragments)"
@mahavir155 it's wrong default behavior of library
When one epub file has **several headings**, for example

![screenshot_1511189594](https://user-images.githubusercontent.com/19820186/33024277-57a95890-ce13-11e7-9d7d-1d902bcc3f24.png)

changing in any heading of the font size doesn't alter text in any other heading. Let's say you change font size to the smallest font size in second heading but fo

[2017-11-20 15:04] Dylc opened #143 "Doesn't remember chosen font size during restarting of library"
@mahavir155
When we clear from memory app (or android does it) and reopen it, library doesn't remember the last chosen font size (and open with defauult font and font size) It doesn't look like desired behavior for user.

[2017-11-23 00:18] angelopolotto commented on #105
I get the following problem after add Maven repository:

Information:Gradle tasks [:app:generateDebugSources, :app:generateDebugAndroidTestSources, :app:mockableAndroidJar]
C:\Users\Polotto\.gradle\caches\transforms-1\files-1.1\appcompat-v7-26.1.0.aar\1cb6f15890c9394258c40b6e23108931\res\values\values.xml
Error:(246, 5) error: duplicate value for resource 'attr/font' with config ''.
Error:(246, 5)

[2017-11-24 22:16] Ijaycool opened #144 "How to add JavaScript into epub"
Am sorry if this isn't the right place to ask for help. Am joining today.
I had my ebook as HTML file (within a webview app) with a tagger script in the <head> of my HTML file. The script automatically adds link tags to famous names, these links shows a dialogue box onclick, with a brief bio of the famous person.
Is there anyway I can put that JavaScript in this reader so it is injected into the e

[2017-11-24 22:18] Ijaycool commented on #144
Meant to say
*with a tagger script in the head tag of my HTML file.

[2017-11-25 20:00] Zherdmant commented on #105
I have the same problem... please we need help... anyone?

[2017-11-26 02:35] Zherdmant opened #145 "I've had problem with Android Studio 3 and FolioReader"
![image](https://user-images.githubusercontent.com/26679223/33236669-84791fea-d228-11e7-96f1-763b3e6d21f3.png)

![image](https://user-images.githubusercontent.com/26679223/33236666-6968a7ac-d228-11e7-99e9-1b3b8db7a36d.png)

![image](https://user-images.githubusercontent.com/26679223/33236632-92c6790e-d227-11e7-95a9-5d553a10173f.png)

[2017-11-26 09:38] vikasrairajput opened #146 "java.lang.StringIndexOutOfBoundsException: length=10; regionStart=0; regionLength=-1"
Try to open a ebook getting  this error  java.lang.StringIndexOutOfBoundsException: length=10; regionStart=0; regionLength=-1  on foliopageFragment class at this line String path = ref.substring(0, ref.lastIndexOf('/'));

[2017-11-28 00:28] Ijaycool commented on #144
No help?

[2017-11-28 17:23] GautamChibde commented on #145
@Zherdmant version 0.3.2 is not stable with API level 26+ you can refer [this](https://github.com/FolioReader/FolioReader-Android/pull/131) for help.

[2017-11-29 09:54] mahavir155 commented on #144
@Ijaycool i don't think, there is anyway to inject your own javascript into the reader.. but if you add the script in epub html, i think, it should call javascript function to display dialog box..

[2017-11-29 22:54] DemonRem opened #147 "Text To Speech"
there is a few app that read the book this app have this ability to do that to?
I mean not part of the book

[2017-11-30 08:48] Ijaycool commented on #144
@mahavir155 thanks for responding.
Let me clear, if there is js in my HTML (zipped as epub) FolioReader will call the js function?
If that is correct, then that's amazing.

[2017-11-30 08:57] mahavir155 commented on #144
@Ijaycool Yes, i think it should call.. we don't remove existing JS functions.. we just inject some JS.. Can you please try if you have just epub and let us know if it work?

[2017-11-30 08:59] mahavir155 commented on #147
@DemonRem Sorry, not understood your question.. But yes, FR support TTS feature and if you don't need you can disable it.. For now closing the issue.. If that didn't answer your question, you can reopen it..

[2017-11-30 08:59] #147 closed

[2017-11-30 11:41] Ijaycool commented on #144
@mahavir155 thanks.
I tried, FolioReader ignored my js. Can't I hardcode the js into the reader?
Since it's the single ebook I wish to access.
Thanks

[2017-11-30 12:00] csdal commented on #146
To this:<br/>
`String path = ref.substring(0, ref.lastIndexOf('/'));`<br/>
Add `+1`<br/>
`String path = ref.substring(0, ref.lastIndexOf('/')+1);`

[2017-11-30 17:06] vikasrairajput commented on #146
![screenshot from 2017-11-30 22-33-10](https://user-images.githubusercontent.com/22234415/33443916-cb45f3d6-d61e-11e7-8045-fb349737d814.png)
thanks..but not able to render epub file ..

[2017-11-30 17:10] vikasrairajput commented on #146
thanks but not able to render epub ..
![screenshot from 2017-11-30 22-33-10](https://user-images.githubusercontent.com/22234415/33444151-7c1993b6-d61f-11e7-9512-456786f63eb8.png)

[2017-11-30 17:41] csdal commented on #146
Use base64 encoded image, not by file location embedding url.

Convert your image to base64 text here:[https://www.base64-image.de/](url)
Copy base64 text in src of image tag.

`<img src='data:image/jpeg;base64,/9j/4AAQSk.........................etc..'/>`

[2017-11-30 17:46] csdal opened #148 "Texts of some kind of html tags black in Night Mode"
Some html tag Texts are black in night mode.

Edit FolioReader > assets > styles.css :<br/>
`html.nightMode {
    background-color: #131313 !important;
}`<br/>
to:<br/>
`html.nightMode {
    background-color: #131313 !important;
    color: #767676 !important;
}`

[2017-12-01 05:54] GautamChibde commented on #146
@vikasrairajput the epub file you are using is valid? cause such type of errors occur when Epub file has incorrect metadata. if you have created Epub file your self please follow guideline from [here](http://idpf.org/epub) also validate your file [here](http://validator.idpf.org/)

[2017-12-01 12:01] csdal opened #149 "table texts do not change"
table tags do not inherit from html-set css rules.
<br/>
Solution:
1. Add table css rules at FolioReader-Android > assets > css > Style.css.<br/>

[code]

2. Edit FolioReader > ui > base > HtmlUtil.java <br/>
[code]

[2017-12-02 11:03] vikasrairajput commented on #146
hey @csdal  where i am supposed to put this image tag

[2017-12-02 11:06] vikasrairajput commented on #146
@GautamChibde i upload epub on site which you mentioned here but every time i got error in every file
![screenshot from 2017-12-02 16-34-52](https://user-images.githubusercontent.com/22234415/33514713-e444860c-d77e-11e7-8760-9f39148fd2ce.png)

[2017-12-02 11:17] vikasrairajput commented on #146
12-02 16:38:55.818 25170-26289/world.ebook.com.ebookworld E/fi.iki.elonen.NanoHTTPD: Communication with the client broken, or an bug in the handler code
java.lang.NullPointerException: Attempt to invoke virtual method 'fi.iki.elonen.NanoHTTPD$Response fi.iki.elonen.router.RouterNanoHTTPD$UriResource.process(java.util.Map, fi.iki.elonen.NanoHTTPD$IHTTPSession)' on a null object reference

ManifestT

[2017-12-05 06:46] mwaqaspervez commented on #122
@blennerSilva  i am facing the same issue. how did u get to resolve this.

[2017-12-07 05:03] DaskiOFF commented on #105
Anyone?

[2017-12-07 16:24] blennerSilva commented on #123
@shahabrauf18  would you interested in making a side project out off folio(paid)? if so would plz send me your email so we can talk ?

[2017-12-11 07:48] shahabrauf18 commented on #123
shahab.rauf18@gmail.com

[2017-12-11 22:30] docbencrazy commented on #146
@vikasrairajput i got the same error, and spent today tracking it down. the function setHtml() in FolioFragment.jajva has the line **String path = ref.substring(0, ref.lastIndexOf('/'));**
I noticed Folioreader was crashing with the StringIndexOutOfBoundsException exception on the file "titlepage.xhtml" in my .EPUB file, because it was not in a subdirectory.  It appears this function assumes the f

[2017-12-14 18:21] udoy-touhid commented on #105
same here

[2017-12-14 20:00] blennerSilva opened #151 "get total pages"
Hey guys how do i get the whole book page count? i saw an similar issue but its old i would like to know if it was solved

[2017-12-15 07:21] GautamChibde commented on #105
@udoy-touhid @DaskiOFF @Zherdmant try new version [0.3.3](https://github.com/FolioReader/FolioReader-Android/releases/tag/0.3.3)

[2017-12-15 07:31] mahavir155 commented on #145
@Zherdmant Should be fixed in latest version 0.3.3..

[2017-12-15 07:31] #145 closed

[2017-12-15 07:34] mahavir155 commented on #111
@vijildhas please use latest version 0.3.3

[2017-12-15 07:34] #111 closed

[2017-12-15 07:36] mahavir155 commented on #108
please use latest version 0.3.3..

[2017-12-15 07:36] #108 closed

[2017-12-19 09:45] libo0878 opened #152 "the reason why can't Parse epub cover image"
I opened some epub files and found something interesting. A epub book usually contains a file called titlepage.xhtml. When I added "../" to the "cover.jpeg" like this
<body>
        <div>
            <img src="../cover.jpeg" alt="cover" style="height: 100%"/>
        </div>
    </body>
the cover could parse and the image showed.But I don't know why .Please help me resolve the issue.

[2017-12-26 19:37] berteodosio commented on #122
Please, have you solved this issue?

[2017-12-27 10:56] blennerSilva commented on #122
maven {url "http://dl.bintray.com/mobisystech/maven"}

on your gradle

[2017-12-27 12:56] berteodosio commented on #122
Thank you, it worked! 😄

[2017-12-27 19:54] blennerSilva commented on #122
:)

[2017-12-27 19:57] MahdiNavidi opened #154 "how to open an epub"
hi there
is there any complete tutorial on this good library?
wiki and readme wasn't good and suitable
thanks

[2017-12-29 20:24] blennerSilva opened #155 "unzip folder"
hey guys can you please help me i need to where the .epub file is unziped...im my case i need the file path of this folder so i can delete it dynamically

[2017-12-29 20:34] blennerSilva commented on #155
i need to know the path for the OEBPS file ins this case

[2017-12-30 02:02] mahavir155 commented on #155
Epub file is not unzipped.. it is read without unzipping..On Dec 30, 2017 2:04 AM, blennerSilva <notifications@github.com> wrote:i need to know the path for the OEBPS file ins this case

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-12-31 07:53] umarF commented on #43
any updates ?

[2017-12-31 08:56] umarF commented on #113
it changes the chapters not the page..

[2018-01-02 15:51] blennerSilva opened #156 "SaxParseException"
Hey guys im gacing this Sax error can you guys give me direction on how to solve?

01-02 13:47:17.732 18673-18673/com.ubook.reader.ureader W/System.err: org.xml.sax.SAXParseException: Unexpected end of document
01-02 13:47:17.732 18673-18673/com.ubook.reader.ureader W/System.err:     at org.apache.harmony.xml.parsers.DocumentBuilderImpl.parse(DocumentBuilderImpl.java:125)
01-02 13:47:17.732 18673-

[2018-01-02 16:38] jeanjnap opened #157 "base64 Support"
this library supports base64 sources?

[2018-01-03 15:41] lsqbeyond opened #158 "Two Exception"
Hello, I've just met these two mistakes. May I have a problem in the format of my book? But most of my books are, and the problem is a jar. I can't modify it. If I need a book, please send a mailbox lsqbeyond@yeah.net. to solve these two problems. Thanks very much

Shutting down VM
01-03 23:30:32.372 22952-22952/com.folioreader.android.sample E/AndroidRuntime: FATAL EXCEPTION: main

[2018-01-04 13:25] devsideal opened #159 "Not supporting all types epub ?"
Its not supporting all epubs i checked with some of the epubs that's opening by iBook and calibre but not showing or getting crashed in FR,
What is criteria to show epub by FR ?

One of them [this epub](https://www.dropbox.com/s/0f98gq5cnrw31ga/hindi1.epub?dl=0) is not showing contents !

**Error Log:**

[code]

[2018-01-06 05:02] 282326705 commented on #146
这个代码的原作者写的有问题，还是报错那一块，做一个判断就好了
![21121](https://user-images.githubusercontent.com/35159676/34636663-b9703d1e-f29e-11e7-85cf-48583ce074de.png)

[2018-01-08 11:06] mahavir155 commented on #158
@lsqbeyond please validate your epubs using validator.idpf.org
Meanwhile, we too are making change to fail gracefully in case of invalid epub.

[2018-01-11 20:14] blennerSilva opened #160 "Not supporting Epub"
He guys this is my problem:

im getting this log error:

##Log

E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: com.folioreader.android.sample, PID: 17486
                  java.lang.RuntimeException: Unable to start activity ComponentInfo{com.folioreader.android.sample/com.folioreader.ui.folio.activity.FolioActivity}: java.lang.NullPointerException: Attempt to read from field '

[2018-01-12 13:04] blennerSilva commented on #67
go on CSS and disable slection from there

[2018-01-12 16:07] blennerSilva commented on #160
Updating my issue im getting:
android - org.xml.sax.SAXParseException: Unexpected token (position:TEXT @1:2 in java.io.StringReader@4156ccc8) -

[2018-01-15 10:53] abhi08singh opened #162 "java.lang.NullPointerException: Attempt to invoke virtual method 'int android.speech.tts.TextToSpeech.setOnUtteranceCompletedListener()' on a null object reference"
Hi,

Android Version:- 5.1

                                                                      at com.folioreader.ui.folio.mediaoverlay.MediaController$2.onInit(MediaController.java:113)
                                                                      at android.speech.tts.TextToSpeech.dispatchOnInit(TextToSpeech.java:814)

[2018-01-15 11:41] abhi08singh commented on #147
Hi,
May I know how can anyone disable the TextToSpeech Feature as it is crashing on some Android Devices.

[2018-01-16 14:10] GabrielLidenor opened #163 "Unable to find explicit activity class"
Right after trying to open an epub file with the bellow code:

[2018-01-16 14:24] mahavir155 commented on #163
Yes, you need to declare FolioActivity in AndroidManifest.xml

[2018-01-16 14:35] GabrielLidenor commented on #163
Thanks

[2018-01-16 14:36] #163 closed

[2018-01-19 13:54] hemantbavle1 commented on #105
It's still hapening.
Error:Failed to resolve: org.readium:r2-fetcher:0.1.2
Error:Failed to resolve: org.readium:r2-parser:0.1.2
Error:Failed to resolve: org.readium:r2-server:0.1.2

[2018-01-19 13:57] hemantbavle1 opened #164 "Getting errors while integrating FolioReader-Android"
Error:Failed to resolve: org.readium:r2-fetcher:0.1.2

Error:Failed to resolve: org.readium:r2-parser:0.1.2

Error:Failed to resolve: org.readium:r2-server:0.1.2

Here's my app build.gradle

[code]

Here's my build.gradle (project level)
[code]
Is there something wrong with the build.gradle configuration?

[2018-01-19 14:28] mahavir155 commented on #164
put FR maven repo in allprojects => repository as well..

[2018-01-23 08:27] morteza-moradi commented on #97
I am having the same issue any solution?

[2018-01-26 16:27] blennerSilva opened #165 "Parsing cover image"
hello guys there are some book the opens the cover image and other that dont could guuy plz tell me how to make the cover image render i already opened the book xml structure and noticed how different they are, but the lib should be able to open them all..

i have an open PR on r2-streamer to help you guys to render different types of books but no answer so far

plz hep me understand at least how

[2018-01-26 17:16] blennerSilva commented on #165
i solved it......the uri for some types of epub comes with 2 // so just replace those bars on REsourceHandler.class and it all will work

[2018-01-27 19:14] GustaUg commented on #165
Hi @blennerSilva  I am trying to implement your solution for cover image but my ResourceHandler is locked. Tried installing r2-streamer-java as a module but ran into a lot of issues. Can you please tell me the steps you took to edit that file? Cheers.

[2018-01-28 16:44] blennerSilva commented on #165
Hello só what o did was fork the r2-streamer and change it there than get The jar and install it on my project...they already merged my pull request but u can download the r2-streamer from my repository ir should Work

[2018-01-28 16:45] blennerSilva commented on #165
The difference is That u cant use the gradle anylonger u have tô use the jar from The three Libs to make ir Work

[2018-01-28 17:30] GustaUg commented on #165
Thank you for replying. I will start working on it asap.

[2018-01-28 23:30] Hardy311t3 opened #166 "Want to know if Horizontal scroll/flip supported??"
Great work guys and it will really gonna help a lot as all those old projects are ether out dated or migrated to AGPL  so it will gonna speed up the process.

Anyways,  Actually I want to know if horizontal page scrolling/flipping supported by default (setting/option by which it will be upto the end user to choose from) or through customization.

And Thank for such a great contribution to the comm

[2018-01-29 11:50] GustaUg commented on #165
Hi again. I downloaded r2-streamer from your repository but I am unable to find the jar files you mentioned.

I even tried to import r2-streamer as a module but Android Studio couldn't find bintrayv1 and installv1 in the build gradle of r2-fetcher and r2-parser.

How did you get the jar file/s ?

Thanks.

[2018-01-29 12:47] blennerSilva commented on #165
first you have to compile and run the r2-streamer than u go to the r2-server and r2-fetcher and r2-parser folders.. than build...than JAR the file should be there

[2018-01-29 13:35] GustaUg commented on #165
Okay, thanks.

[2018-01-29 13:35] blennerSilva commented on #165
let me know if worked

[2018-01-29 13:38] GustaUg commented on #165
Will do, thank you.

[2018-01-29 15:31] lampofdrog commented on #120
up, i have the same issue, any solution ??

[2018-01-29 15:34] lampofdrog commented on #147
how can i change language of speech to french language, i mean how can change Locale support TTS?

[2018-01-29 18:58] GustaUg commented on #165
This is what I tried to do to compile r2-streamer
In Android Studio, I went to File-> New-> import module
I navigated to where I downloaded the library and tried to import it. I got a gradle build error: ...\buildtray\installv1.gradle does not exist.
Do you know why I am getting this error?

[2018-01-30 12:15] Kuldeep28 opened #167 "help for Pdf Support"
i want to add pdf support in this app,can anyone help me or can tell me how i can do that

[2018-01-30 12:45] blennerSilva commented on #165
you dont have to import it as a module do this
open the r2-streamer as a separe project ...compile it...then go under de build and gt the jar file...

than open your project...go in the libs files...paste the jar file and sync gradle done....

obs: you need all three jars from all the sub projects of r2-streamer.

[2018-01-30 23:41] GustaUg commented on #165
Hi,
Thank you for your patience. I appreciate.

I was able to get the jar files, and pasted them in my app folder. Each time I try to run my project, I get a java runtime exception:unable to merge dex. Did you experience this? Did you make any changes in gradle after adding the three jar files?

Thanks.

[2018-01-31 11:36] blennerSilva commented on #165
add the multidex lib and remove the compile r2-streamer from the folio reader lib you do understand that u will have to use the folio lib as a aar from now on right ?

[2018-01-31 20:42] GustaUg commented on #165
Okay. I added compile 'com.android.support:multidex:1.0.1' and removed compile r2 Streamer and compile org.readium... for parser, fetcher and server from folioreader gradle. I am now getting over 100 errors. I am going to read up how to convert and use aar in Android studio. Maybe that will sort out the errors.
Thanks for your help.

[2018-02-04 16:08] vikasrairajput opened #169 "java.lang.NullPointerException: Attempt to invoke virtual method 'fi.iki.elonen.NanoHTTPD$Response fi.iki.elonen.router.RouterNanoHTTPD$UriResource.process on a null object reference"
hey everyone,

I m getting this type of exception in some of epub files.Please help me out

 E/fi.iki.elonen.NanoHTTPD: Communication with the client broken, or an bug in the handler code
                                                                                     java.lang.NullPointerException: Attempt to invoke virtual method 'fi.iki.elonen.NanoHTTPD$Response fi.iki.elonen.router.RouterN

[2018-02-04 19:34] vikasrairajput commented on #77
the above solution isn't working for me

[2018-02-06 12:27] vikasrairajput opened #170 "Cant show images"
![whatsapp image 2018-02-06 at 17 56 28](https://user-images.githubusercontent.com/22234415/35859728-310776c2-0b67-11e8-901a-ccf84a77523a.jpeg)
![whatsapp image 2018-02-06 at 17 56 28 1](https://user-images.githubusercontent.com/22234415/35859740-37c2eb90-0b67-11e8-8d36-87806e6889d5.jpeg)

[2018-02-06 14:29] vikasrairajput commented on #159
Hey, i resolved this issue
In HtmlTask class remove space in string
 String strUrl = urls[0];
       String withoutSpace= strUrl.replaceAll("\\u0020", "%20");
        try {
            URL url = new URL(withoutSpace);
            URLConnection urlConnection = url.openConnection();
            InputStream inputStream = urlConnection.getInputStream();
            BufferedReader bufferedReader = new

[2018-02-06 15:24] LeoDiasDev commented on #115
I'm also getting the same error, has anyone solved it?

[2018-02-07 06:34] devsideal commented on #159
@vikasrairajput thanks for your comment, but my issue did not resolved, did you check my given epub file, is this showing at your end  ?

[2018-02-07 06:40] changefouk commented on #120
i set locale US to another locale in lib in MediaController.java[cid:d03435bc-60e8-4fb3-934b-9046a5a2440e]
________________________________
จาก: lampofdrog <notifications@github.com>
ส่ง: 29 มกราคม 2561 22:31
ถึง: FolioReader/FolioReader-Android
สำเนาถึง: changefouk; Author
ชื่อเรื่อง: Re: [FolioReader/FolioReader-Android] Can change locale text-to-speech ? (#120)

up, i have the same issue, any s

[2018-02-07 07:56] playscforever commented on #115
@LeoDiasDev try this compile 'com.folioreaderforyzj:folioreader:1.1.4'
https://github.com/playscforever/FolioReader-Android

[2018-02-09 21:32] LeoDiasDev commented on #170
Hello,

Search for the method with the name **setHtml**, on the line:

`Constants.LOCALHOST + mBookTitle + "/" + path + "/" ,`

change to:

`Constants.LOCALHOST + mBookTitle + "/" + path,`

I hope that i have helped

[2018-02-10 11:41] vikasrairajput commented on #170
Hey @LeoDiasDev  thanks for the help...image working now but book page taking extra space from left and right..how to resolve this?

[2018-02-10 12:08] vikasrairajput commented on #159
sorry,your epub also not working on my side..

[2018-02-12 03:13] chawaphonSa opened #171 "Want to know if Horizontal scroll/flip supported?? plass"

[2018-02-13 08:27] chawaphonSa opened #172 "I want add mode , try this change css , js but not working"
help me please

[2018-02-13 18:34] LeoDiasDev opened #173 "Cant parse epub3 smil?"
My array smil is empty, i'm try to open epub3 and i got this error:

[code]

[2018-02-14 23:55] #173 closed

[2018-02-16 06:07] adeel-quantumcph opened #174 "App Crashes when reading last page of the ePub"
Go to the last page of the ePub and start listing the audio then leave it after a minutes app crashes

Log as follows:

[2018-02-16 06:17] adeel-quantumcph commented on #174
Hey guys, can you help me out on this issue   @sameerkhader @mahavir155 @GautamChibde

[2018-02-20 05:52] abhi08singh commented on #158
Same issue I am facing. I have already validated the EPUB.
Please resolve this issue ASAP.

[2018-02-21 07:44] NinadNaik2811 opened #175 "503 Service unavailable error"
This is my all projects
allprojects {
    repositories {
        jcenter()
        maven {url "http://dl.bintray.com/mobisystech/maven"}
        maven {
            url "https://maven.google.com/" }
    }
}

And this is in the app build.gradle:

compile 'com.folioreader:folioreader:0.3.3'

I get this error:

Error:Could not GET 'http://dl.bintray.com/mobisystech/maven/org/readium/r2-parser/0.1.2/r

[2018-02-22 18:39] LeoDiasDev opened #176 "createTOCFromSpine not return bookTitle and chapterTitle"
I'm try get titles of chapters for create a list with contents in Epub3 files.

I looked this URL in **TableOfContentsFragment.java**:
`String urlString = Constants.LOCALHOST + mBookTitle + "/manifest";`

Is it correct?

The correct would not be?
String urlString = Constants.LOCALHOST + mBookTitle + "/toc.xhtml";

in the **publication.spines** i only get **href** and **id** from chapters, but not

[2018-02-25 11:04] ikhanal commented on #122
Thank you it worked.

[2018-02-26 03:24] arvindvyas commented on #97
this fixed when I upgrade my gradel to 4.1

[2018-02-28 00:02] ikhanal opened #177 "init BookFailed"
I have used this library in my app targeting android version 26 and min  15 but I got error while reading epub file from sd card. As I have first downloaded the file from server and read the file from local storage.

` public static void downloadFileFromRemote(Activity activityContext, String url,String fileName)
    {

        File direct = new File(Environment.getExternalStorageDirectory()

[2018-03-01 02:41] #176 closed

[2018-03-07 18:32] ArnoldsK commented on #163
Could you please specify details on declaring it? Defining android:name="com.folioreader.ui.folio.activity.FolioActivity" does not help.

[2018-03-08 16:59] LeoDiasDev commented on #123
Hello guys @blennerSilva and @shahabrauf18, have you managed to adapt HorizontalWebView in the latest version of lib? I'd like to use the same functionality. Thanks

[2018-03-08 17:25] LeoDiasDev commented on #19
Hello @mahavir155, do you already have any news about horizontal pagination?

hugs

[2018-03-08 18:31] blennerSilva commented on #123
Yes just use the class HorizontalWebView instead of the default one...or just captured the click and make it scroll vertically..it all the same.

[2018-03-09 13:49] LeoDiasDev commented on #123
I tried to implement, but this your HorinzontalWebView class can not be used in the last version of the lib, there are methods and variables non existent in the current.

Do you have any plans to bring it to the latest version of lib?

[2018-03-09 15:02] mahavir155 commented on #123
@blennerSilva @LeoDiasDev we are working on it, but i am not sure when we'll able to complete that. But now we have initiated horizontal scroll development..

[2018-03-26 12:01] umakantviprak opened #178 "How to set default Horizontal scrollbar?"
Can you guys please tell me how to set default vertical scrollbar to horizontal scrollbar?

[2018-03-26 12:08] Bhumi07 opened #179 "How to set Progress bar while opening book?"
Book opening time is too much so I want to set progress bar so the user can understand easily, but I don't know how to set loader Please Tell Me ASAP.

[2018-04-04 08:25] arthurlataks commented on #93
[code]

[2018-04-04 08:55] mahavir155 commented on #93
Yes, this way you can change default color..

[2018-04-04 08:55] #93 closed

[2018-04-05 08:37] arthurlataks commented on #93
As I later found out (sorry, not an android dev here) this is a bad way of doing this. Currently working with React Native project, so I created a colors.xml file under res/values, then added there definition of a color I want to use like this:

[code]

and then used the color as follows:

[code]

[2018-04-05 13:56] arthurlataks opened #180 "Any chance for a newer version of this plugin?"
Current 0.3.3 version is 8 commits behind master branch. And there are couple of right away visible inconsistencies.

[2018-04-09 12:25] arthurlataks commented on #180
Also, there are updates on r2-streamer package, which fixes issues with different NCX references. Currently some of the epubs miss TOC link text. They are clickable and all, but because of these lines
[code]
and the fact that some epubs, have different id for NCX ref - NCX file is not being parsed and text for TOC is not retrieved.

In master branch of the r2-streamer these changes are already imp

[2018-04-14 06:49] Mayank0000 opened #181 "Not Supporting Hindi font"
I want to add Chanakya font in it. Please help me. An issue with reading Hindi text like Chanakya, Shiva etc.

[2018-04-20 05:54] khaleeljageer opened #184 "Fatal Exception: java.lang.IndexOutOfBoundsException"
`Fatal Exception: java.lang.IndexOutOfBoundsException: Invalid index 0, size is 0
       at java.util.ArrayList.throwIndexOutOfBoundsException(ArrayList.java:255)
       at java.util.ArrayList.get(ArrayList.java:308)
       at com.folioreader.ui.folio.activity.FolioActivity$1.onClick(FolioActivity.java:171)
       at android.view.View.performClick(View.java:5714)
       at android.view.View$Perfor

[2018-04-23 07:39] sirinanjirinsa opened #185 "Open .epub file from Internal storage"
I try
`folioReader = new FolioReader(this);
folioReader.registerHighlightListener(this);
folioReader.openBook(Environment.getExternalStorageDirectory().toString()+"/my_downloads/"+listOfLists.get(position).get(0)+".epub");

getHighlightsAndSave();`

Bur not works for me
I have Error is ...

04-23 14:26:22.515 5603-5603/com.______.______.______ E/FolioActivity: initBook failed
    java.io.FileNotFo

[2018-04-24 09:33] Chomui opened #187 "Doesn't work"
![image](https://user-images.githubusercontent.com/38687271/39178581-c7361538-47ba-11e8-9bbf-3a611986b40d.png)

Doesn't work and crash app
API 16, 27

For example, I took books from the folder Sample/res/raw and Sample/src/main/assets
![image](https://user-images.githubusercontent.com/38687271/39178689-0d25591e-47bb-11e8-8b6f-2bebd79ed101.png)
![image](https://user-images.githubusercontent.com/386

[2018-04-24 10:36] mahavir155 commented on #187
What error it gives?

[2018-04-24 10:37] mahavir155 commented on #185
File doesn't exist.. get epub file path properly.. It's not an issue of FolioReader, so closing..

[2018-04-24 10:37] #185 closed

[2018-04-24 10:40] Chomui commented on #187
E/AndroidRuntime: FATAL EXCEPTION: main
                  java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.roman.application2/com.example.roman.application2.BookActivityV2}: android.content.ActivityNotFoundException: Unable to find explicit activity class {com.example.roman.application2/com.folioreader.ui.folio.activity.FolioActivity}; have you declared this activity

[2018-04-24 10:56] mahavir155 commented on #187
You need to declare FolioReaderActivity in your AndroidManifest.xml..

[2018-04-24 10:56] #187 closed

[2018-04-26 09:52] king3224 commented on #184
Hi，excuse me ，I met the same problem today，I want to ask that the problem has been solved？if solved,Can you tell me the solution？

[2018-04-27 02:29] king3224 opened #189 "Slippage is not smooth"
when I slide the page , slippage is not smooth，can you some ideas for this question? thanks

[2018-04-27 08:34] abhi08singh opened #190 "initBook failed"
``04-27 14:01:43.270 24223-24223/com.example.app E/FolioActivity: initBook failed
    java.net.BindException: bind failed: EADDRINUSE (Address already in use)
        at libcore.io.IoBridge.bind(IoBridge.java:99)
        at java.net.PlainSocketImpl.bind(PlainSocketImpl.java:139)
        at java.net.ServerSocket.bind(ServerSocket.java:335)
        at java.net.ServerSocket.bind(ServerSocket.java:295

[2018-04-27 12:41] LeoDiasDev commented on #123
@mahavir155

[2018-04-30 11:38] hrishikesh-kadam commented on #159
@devsideal This bug has been fixed in r2-streamer-java v0.1.3 - https://github.com/readium/r2-streamer-java/commit/3f613515a5967e148660cf45c11461acad5284a6

And integreated this version of r2-streamer-java in v0.3.5 of FolioReader. Also you can use v0.3.6 which makes FolioReader as a Singleton.

@mahavir155 @GautamChibde We can close this issue.

[2018-04-30 11:41] #159 closed

[2018-05-02 11:31] mahavir155 commented on #160
@blennerSilva Sorry for late reply.. Can you check again on latest version. If still happening, then is it possible for you to PM me ebook on which it is not working?

[2018-05-03 06:37] adeel-quantumcph commented on #174
@mahavir155 this issue still exist in the latest version

[2018-05-03 07:34] Mayank0000 opened #196 "Memory Leakage Issue"
When I integrate it with my application. It has been giving memory leakage issue in FolioDatabaseHelper

[2018-05-03 07:41] mahavir155 commented on #196
@Mayank0000 How did you find out? using Leak Canary or any other tool?

[2018-05-03 08:43] Mayank0000 commented on #196
@mahavir155  Using LeakCanary

[2018-05-04 06:44] king3224 commented on #190
Hi，I met the same problem today，have you solved this problem？if solved，can you tell me the solution？thanks

[2018-05-04 06:58] mahavir155 commented on #190
@king3224 @abhi08singh All parsing is handle by r2-streamer which uses port number 8080 by default.. If some other process is already using port 8080, then above issue might come..
In that case, you can use different port number by using following method to open book:
`public FolioReader openBook(String assetOrSdcardPath, Config config, int port) `

It will use the port number you provided.

[2018-05-04 08:43] king3224 commented on #190
oh,I got it.it's right, thanks

[2018-05-04 08:45] king3224 commented on #190
oh，I got it ，thanks

[2018-05-04 08:54] #190 closed

[2018-05-04 10:37] hrishikesh-kadam commented on #196
@Mayank0000 Can you please tell me which FolioReader version you are using?

[2018-05-04 10:59] Mayank0000 commented on #196
@hrishikesh-kadam 0.3.2.  Actually, I had downloaded the code and then I use it.

[2018-05-04 14:36] mahavir155 commented on #196
@Mayank0000 We are releasing new version 0.3.8 which would fix the issue. Please try using latest version. Probably you can use gradle dependency..

[2018-05-04 14:37] #196 closed

[2018-05-04 19:51] hrishikesh-kadam commented on #196
@Mayank0000 Please check [Clean up code](https://github.com/FolioReader/FolioReader-Android/wiki/Clean-up-code) Wiki page for more information.

[2018-05-05 05:17] Mayank0000 commented on #196
@mahavir155 Please you help me with the code.

[2018-05-08 10:57] devsideal opened #200 "ver 0.3.7-AndroidRuntimeException: Calling startActivity() from outside of an Activity..."
I'm using library version 0.3.7
When trying to open epub from my Activity, eg -
[code]
Getting this error -
(While i'm opening the file from my activity)
[code]

[2018-05-08 13:10] mahavir155 commented on #200
@devsideal This issue is fixed in latest version 0.3.8..

[2018-05-08 13:10] #200 closed

[2018-05-09 05:40] devsideal commented on #200
Yes this is fixed in 0.3.7 , now app is crashing with this exception

[2018-05-09 09:38] RajGala commented on #123
@mahavir155  Sir is this horizontal scrolling update for both Android and Ios ??

[2018-05-09 11:07] Divsatweapplinse opened #202 "Want to get HighlightImpl and Rengy"
Hello everyone,
I wan to get highlightImpl object and rengy object in the FolioPageFragment screen which editing the highlight for the set note.

thanks in advance.

[2018-05-09 11:10] mahavir155 commented on #202
@Divsatweapplinse you can set HighlightListener.. Check out https://github.com/FolioReader/FolioReader-Android/wiki/Highlight-Event

[2018-05-09 11:10] #202 closed

[2018-05-09 14:04] #164 closed

[2018-05-09 14:06] mahavir155 commented on #166
@Hardy311t3 We did started work on Horizontal scrolling.. Checkout feature/horizontal_scroll branch:
https://github.com/FolioReader/FolioReader-Android/tree/feature/horizontal_scroll

It still need much improvements. But you can checkout how it works and help us to contribute in horizontal scrolling :)

[2018-05-09 14:09] mahavir155 commented on #123
@RajGala @LeoDiasDev We did started work on Horizontal scrolling.. Checkout feature/horizontal_scroll branch:
https://github.com/FolioReader/FolioReader-Android/tree/feature/horizontal_scroll

It still need much improvements. But you can checkout how it works and help us to contribute in horizontal scrolling :)

[2018-05-11 08:24] profdalejuls opened #204 "SQLiteError when title has apostrophe character"
What should I when I encounter this?

`05-11 16:21:01.062 4944-4944/digital.binary.gfslibary E/AndroidRuntime: FATAL EXCEPTION: main
                                                                        Process: digital.binary.gfslibary, PID: 4944
                                                                        android.database.sqlite.SQLiteException: near "s": syntax error (code 1): , wh

[2018-05-12 09:34] KishanViramgama opened #205 "Crash issue in 4.2,4.3,4.4"
Issue with android 4.2,4.3,4.4

When open epub file and then minimized and open again and pressed back then instead of going into previous activity it closes app, and then opened again then app is crashed

when epub file is open in app and then app is closed by swiping and then reopen app then app crashes

This issue is in latest update of library
App working fine in latest android (8.0)

i need h

[2018-05-14 10:49] hrishikesh-kadam commented on #204
Can you please provide epub file?

[2018-05-14 14:09] hrishikesh-kadam commented on #205
This bug is reproducible and will get fixed in next release. But I am unable to reproduce following issue.

Can you please give me epub file on which above bug is reproducible?

[2018-05-15 03:47] KishanViramgama commented on #205
Thanks for ans please check the problem

On Mon, May 14, 2018 at 7:39 PM, Hrishikesh Kadam <notifications@github.com>
wrote:

[2018-05-15 04:25] profdalejuls commented on #204
hrishikesh-kadam unfortunately due to our privacy policy I cannot share you the epub file. You can try renaming an epub and put an apostrophe character in its filename and feed it to the library.

Example filename: `Kadam's ePub Book`

[2018-05-16 13:58] #174 closed

[2018-05-16 13:58] #181 closed

[2018-05-16 13:58] #204 closed

[2018-05-16 13:58] #205 closed

[2018-05-17 06:42] #14 closed

[2018-05-22 09:53] techvedikasolutions opened #208 "How can i open the epub in my activity view(which consistes of other views also) using this library"
Hi,
I am using folio reader library to open the epub files in my app.But I need to open the epub in my app activity view or in fragment,which contains other views also.Please let me know how can i achieve this.

[2018-05-22 09:58] mahavir155 commented on #208
@techvedikasolutions right now this is not possible..

[2018-05-22 10:04] techvedikasolutions commented on #208
Thank you For your quick reply.Is there any way to use folio reader activity and making some customizations to the existing code to get my required functionality.

[2018-05-22 10:06] mahavir155 commented on #208
You can make UI customizations, like changing color, showing/hiding particular feature.. But not entire layout..

[2018-05-22 10:11] techvedikasolutions commented on #208
Can I hide the top bar in the epub open activity and can we open that activity in fragment container?

[2018-05-22 10:53] maloznaal commented on #169
I have same problem, on APIs lower than 24. Have you resolved this issue?

[2018-05-25 05:21] techvedikasolutions commented on #208
Hi Mahavir,I customized the folio activity as per my requirement,but I am getting one issue,whenever I adding the epub file to the activity,its appending the same epub multiple times.First time it showing one epub and for second time add its showing 2 same epub files in same.Please suggest or guide me how can I fix this issue.

[2018-05-28 06:40] techvedikasolutions opened #209 "Same epub file appearing multiple times as adding next epub files for the same container."
Hi Mahavir,I customized the folio activity as per my requirement,but I am getting one issue,whenever I adding the epub file to the activity,its appending the same epub multiple times.First time it showing one epub and for second time add its showing 2 same epub files in same.Please suggest or guide me how can I fix this issue.

I asked this one in the same issue which i have raised previously.But

[2018-05-28 06:45] GautamChibde commented on #209
@techvedikasolutions please share your code and the screenshot for us to understand the issue. also if possible the epub file.

[2018-05-28 06:59] techvedikasolutions commented on #209
Hi, I am using the same folio activity in my code,I just modified initbook method and activity xml UI according to my requirement.Below is the initbook method and attaching the screenshots.

int portNumber = getIntent().getIntExtra(Config.INTENT_PORT, com.folioreader.Constants.PORT_NUMBER);
            mEpubServer = EpubServerSingleton.getEpubServerInstance(portNumber);
            //added by sai

[2018-05-28 10:06] techvedikasolutions commented on #209
Hi,I fixed this issue by clearing the mSpineReferenceList on adding new epub to the container.Thank you for your support.

[2018-05-28 10:06] #209 closed

[2018-05-31 05:39] Hitesh12345678 opened #210 "Unfortunately, package installer stopped"
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.google.android.packageinstaller/com.android.packageinstaller.permission.ui.GrantPermissionsActivity}: java.lang.NullPointerException: Attempt to get length of null array
        at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:3253)
        at android.app.ActivityThread.handleLaunchActivity(ActivityThread

[2018-05-31 06:07] mahavir155 commented on #210
You are missing permission in manifest. Check if you have all required permissions in your projects manifest file..

[2018-05-31 06:07] #210 closed

[2018-05-31 06:08] Hitesh12345678 commented on #210
but which permission i do mention in manifest for using this library ?

[2018-05-31 06:55] mahavir155 commented on #210
[code]

[2018-06-05 21:38] zhombie opened #211 "Crash with FolioToolbar"
06-06 03:33:23.163 26855-26855/com.example.zhomart.oqyrman E/AndroidRuntime:
FATAL EXCEPTION:
Process: com.example.zhomart.oqyrman, PID: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.zhomart.oqyrman/com.folioreader.ui.folio.activity.FolioActivity}: android.view.InflateException: Binary XML file line #0: Binary XML file line #0: Error inflating class com.folioreader

[2018-06-06 07:16] hrishikesh-kadam commented on #211
Can you please tell on which Mobile / Emulator did it crashed with its Android API Level?

[2018-06-07 12:48] Nikhil-z opened #212 "Screen got turned off while reading"
The reading activity screen of Folio reader get turned off while using more than 4 minutes . Fix i found was
`getWindow().addFlags(WindowManager.LayoutParams.FLAG_KEEP_SCREEN_ON);`

Unfortunalty it must be added from inside the library activity . Any possible fix ?

[2018-06-07 13:54] mahavir155 commented on #212
You can extend your activity from FolioActivity and add your flags

[2018-06-07 15:03] #212 closed

[2018-06-08 22:52] zhombie commented on #211
Android Galaxy J3(2017) SM-J330F, Android OS 7.0, API level 24

[2018-06-11 06:17] hrishikesh-kadam commented on #211
Uninstall for all the user profiles from your phone, restart and then try to install.

[2018-06-12 17:47] LeoDiasDev commented on #178
@umakantviprak Do u can explain how to set?

[2018-06-13 03:04] hackstarsj opened #214 "java.lang.NullPointerException in EpubParser.isMimeTypeValid (EpubParser.java:62)"
private boolean isMimeTypeValid() throws EpubParserException {
        String mimeTypeData = container.rawData("mimetype");

        if (mimeTypeData.equals("application/epub+zip")) {
            return true;
        } else {
            System.out.println(TAG + "Invalid MIME type: " + mimeTypeData);
            throw new EpubParserException("Invalid MIME type");
        }
    }

Please Fix the is

[2018-06-14 19:00] hackstarsj opened #215 "java.lang.NullPointerException: at org.readium.r2_streamer.server.EpubServer.addLinks (EpubServer.java:68)"
private void addLinks(EpubPublication publication, String filePath) {
        containsMediaOverlay = false;
        for (Link link : publication.links) {
            if (link.rel.contains("media-overlay")) {
                containsMediaOverlay = true;
                link.href = link.href.replace("port", "localhost:" + getListeningPort() + filePath);
            }
        }

Please Fix this Also

[2018-06-14 19:01] hackstarsj commented on #214
Thanks

[2018-06-14 19:01] #214 closed

[2018-06-14 20:01] LeoDiasDev commented on #123
Hello @mahavir155,

Do you can explain how to set the horizontal in this feature?

Thanks

[2018-06-16 17:33] LeoDiasDev commented on #178
@umakantviprak do u know how to set?

[2018-06-16 17:48] hackstarsj commented on #184
Still Not Solved Developer is Not So Active.

[2018-06-16 19:39] asilbekDjamaldinov opened #216 "Height of WebView"
Hello!
Have a trouble with the height of application... The reader doesn't cover the full screen of some devices. In my test device the ratio of the display is not standart(Samsung S8). Help to solve this.

[2018-06-16 20:28] #216 closed

[2018-06-17 00:44] hackstarsj commented on #184
Try To Rename your filename and make sure that does not have any special character even not space " ".

[2018-06-17 14:12] choungchamnab opened #218 "Embed in activity"
How can I embed it in a activity instead of open new one ? If it must open new activity, can i customize this activity ?

[2018-06-18 07:01] mahavir155 commented on #123
@LeoDiasDev Horizontal feature is not released yet.. But you can test by pull the horizontal_branch.. You just need to go to settings where you can change font.. There you can see option to set scrolling mode "Horizontal or Vertical"

[2018-06-18 09:51] OlegTarashkevich commented on #215
I had the same issue:

`06-18 05:48:08.241 3435-3435/de.appcuisine.tigermedia.tigerbooks.alpha I/System.out: EpubContainer Reading epub at path: /storage/emulated/0/Android/data/de.appcuisine.tigermedia.tigerbooks.alpha/files/1478407.epub
06-18 05:48:08.241 3435-3435/de.appcuisine.tigermedia.tigerbooks.alpha I/System.out: EpubContainer Reading file at path: mimetype
06-18 05:48:08.287 3435-3435/de

[2018-06-18 10:20] hackstarsj commented on #215
Finally i Stuck Will all Errors i understand Developer works and respect and he make a such a wonderful library for epub .

but finally i create a new library with some customisation.

[2018-06-18 10:29] mahavir155 commented on #215
Really not.. But we'll try to release new version by end of this week or early next week.. we are really excited to release this version, since it will have horizontal scrolling enabled..

[2018-06-18 10:32] mahavir155 commented on #218
It is not possible to embed in activity since FolioReader itself uses FolioActivity..
Currently, you can change only theme color which is currently set to green. Checkout how to do that:
https://github.com/FolioReader/FolioReader-Android/wiki/Custom-Configuration

[2018-06-18 13:41] RajGala commented on #123
Sir glad to have this trial version(post integration) but it has got a lot
of lagging and pagination issues... Will be happy to know when will be
realease of its right complete new version in the market!!

On Wed, May 9, 2018, 7:39 PM Mahavir Jain <notifications@github.com> wrote:

[2018-06-21 11:17] OlegTarashkevich commented on #215
Hi @mahavir155 , Do you have any update? My users see crashes. Please help!

[2018-06-22 07:21] hrishikesh-kadam commented on #215
@OlegTarashkevich Upgrade to v0.3.10

[2018-06-22 07:31] mahavir155 commented on #215
@OlegTarashkevich Crash should be fixed in v0.3.10.. FYI Horizontal scrolling is not released yet.. We'll need one more week to have Horizontal scrolling.. Meanwhile you can use 0.3.10..

[2018-06-22 07:32] OlegTarashkevich commented on #215
Thank you @hrishikesh-kadam @mahavir155
v0.3.10 has the same crash.
The "publication" object is null. It's the reason of the crash.
Looks like the bug while parsing: `org.xml.sax.SAXParseException: expected: '>' actual: '"`
Please look at the my previous post where I've provided the logs.

![screen shot 2018-06-22 at 10 20 52](https://user-images.githubusercontent.com/13828110/41763173-14d43ea4-76

[2018-06-22 07:43] mahavir155 commented on #215
any possibility to share epub?

[2018-06-22 08:10] hrishikesh-kadam opened #221 "java.lang.NullPointerException: Attempt to read from field 'java.util.List org.readium.r2_streamer.model.publication.EpubPublication.links' on a null object reference"
`06-18 05:48:08.241 3435-3435/de.appcuisine.tigermedia.tigerbooks.alpha I/System.out: EpubContainer Reading epub at path: /storage/emulated/0/Android/data/de.appcuisine.tigermedia.tigerbooks.alpha/files/1478407.epub
06-18 05:48:08.241 3435-3435/de.appcuisine.tigermedia.tigerbooks.alpha I/System.out: EpubContainer Reading file at path: mimetype
06-18 05:48:08.287 3435-3435/de.appcuisine.tigermedia.

[2018-06-22 08:12] hrishikesh-kadam commented on #215
@OlegTarashkevich I have opened new issue on behalf of you - #221
This issue is different from yours so let us have conversation on #221

@mahavir155 we can close this issue.

[2018-06-22 08:15] #215 closed

[2018-06-22 08:36] OlegTarashkevich commented on #221
@hrishikesh-kadam @mahavir155
Thank you for your help!

I'm trying to get the book from my customer.

Here is the xml part which has a problem:
https://www.dropbox.com/s/3jf26fz1a1socf0/Reader.java?dl=0

[2018-06-22 09:27] OlegTarashkevich opened #222 "epub with password"
Hey guys! @hrishikesh-kadam @mahavir155
Do we have ability to open an epub (zip) which has a password?

[2018-06-22 10:52] hrishikesh-kadam commented on #221
[code]

@OlegTarashkevich the xml contents are invalid, space is missing between ncx and PUBLIC keywords.
So that means epub file is invalid.

After Horizontal scroll release we will look into how to handle all the invalid epubs gracefully.

[2018-06-22 11:44] OlegTarashkevich commented on #221
Thank you for the response!
FYI I'm able to open this book on another apps from google play.

[2018-06-22 11:55] hrishikesh-kadam commented on #221
The proposed solution for this would be to use smarter libraries for xml parsing than inbuilt `javax.xml.parsers.DocumentBuilder`.

At the moment we are busy in Horizontal scroll feature. Till the time you can fix this error in the particular invalid book. This file would be toc.ncx and generally resides in OEBPS folder.

[2018-06-23 13:42] SonyGeorge opened #223 "How to disable Copy and Share of epub content from folio reader"
I want to disable the option to **copy and share** of epub content
is there any config to disable this ??

[2018-06-25 08:04] OlegTarashkevich commented on #221
Here is a link to the file **toc.ncx**: https://www.dropbox.com/s/pu7kj33jpj6rt77/toc.ncx?dl=0
I see that we have "\n" symbol between **ncx** and **PUBLIC**, but after parsing we have no any symbols between them.

[2018-06-25 10:35] #221 closed

[2018-06-25 11:08] hrishikesh-kadam commented on #221
@OlegTarashkevich Please upgrade FolioReader to v0.3.11

[2018-06-25 12:31] OlegTarashkevich commented on #221
@hrishikesh-kadam @mahavir155 Thank you, it works!

[2018-06-26 05:47] RajGala commented on #123
Sir will be glad to know which files extensions are supported by folio
reader!!

On Wed, May 9, 2018, 7:39 PM Mahavir Jain <notifications@github.com> wrote:

[2018-06-26 06:55] SonyGeorge opened #226 "Config.themeColor is not applied for the Dictionary and Wikipedia model window"
Hi Team,
When **Config.themeColor** is applied to folio reader, color is changed every where except the
Define window, ie when we select a word, a sub menu will appear.  _copy, highlight define and share_
and if we choose define from that menu, a popup will be displayed with heading **Dictionary and Wikipedia**.
This model window color is the default old green color, this window is not respecting

[2018-06-28 11:11] SonyGeorge opened #227 "Last Read Position Value get updated automatically without any change in book reading"
Hi Team,

This is how i use SetReadPosition in my code

            Uri uri = Uri.fromFile(fileToOpen);
            FolioReader folioReader = FolioReader.getInstance(getApplicationContext());
            folioReader.setReadPositionListener(new ReadPositionListener() {
                @Override
                public void saveReadPosition(ReadPosition readPosition) {
                    Util.update

[2018-06-28 14:12] hrishikesh-kadam commented on #227
Can you please send epub file for reproducing the issue?

[2018-06-29 06:46] SonyGeorge commented on #227
sent yo your email you have sent in github account, please check

[2018-06-29 15:39] mahavir155 commented on #178
@umakantviprak Horizontal scrolling in implemented in v0.4.0. Please change it to version 0.4.0 to start using horizontal scrolling.. Checkout documentation https://github.com/FolioReader/FolioReader-Android/wiki/Custom-Configuration

[2018-06-29 15:39] #178 closed

[2018-06-29 15:40] mahavir155 commented on #171
@chawaphonSa  Horizontal scrolling is implemented in v0.4.0. Please change it to version 0.4.0 to start using horizontal scrolling.. Checkout documentation https://github.com/FolioReader/FolioReader-Android/wiki/Custom-Configuration

[2018-06-29 15:40] #171 closed

[2018-06-29 15:40] mahavir155 commented on #166
@Hardy311t3  Horizontal scrolling is implemented in v0.4.0. Please change it to version 0.4.0 to start using horizontal scrolling.. Checkout documentation https://github.com/FolioReader/FolioReader-Android/wiki/Custom-Configuration

[2018-06-29 15:40] #166 closed

[2018-06-29 15:41] mahavir155 commented on #123
@LeoDiasDev @RajGala @shahabrauf18 @blennerSilva @hebertialmeida Horizontal scrolling is implemented in v0.4.0. Please change it to version 0.4.0 to start using horizontal scrolling.. Checkout documentation https://github.com/FolioReader/FolioReader-Android/wiki/Custom-Configuration

[2018-06-29 15:41] #123 closed

[2018-06-29 15:42] mahavir155 commented on #113
@zubyf09 @KhalidElSayed @dungnguyendotme @umarF   Horizontal scrolling is implemented in v0.4.0. Please change it to version 0.4.0 to start using horizontal scrolling.. Checkout documentation https://github.com/FolioReader/FolioReader-Android/wiki/Custom-Configuration

[2018-06-29 15:42] #113 closed

[2018-06-29 15:43] mahavir155 commented on #81
@lillogoal @blennerSilva @dawoodmughal7   Horizontal scrolling is implemented in v0.4.0. Please change it to version 0.4.0 to start using horizontal scrolling.. Checkout documentation https://github.com/FolioReader/FolioReader-Android/wiki/Custom-Configuration

[2018-06-29 15:43] #81 closed

[2018-06-29 15:44] mahavir155 commented on #43
@icaromagalhaes @umarF @pritambarhate Horizontal scrolling is implemented in v0.4.0. Please change it to version 0.4.0 to start using horizontal scrolling.. Checkout documentation https://github.com/FolioReader/FolioReader-Android/wiki/Custom-Configuration

[2018-06-29 15:44] #43 closed

[2018-06-29 15:45] mahavir155 commented on #15
@Mohsin92 @lillogoal @mfissehaye  Horizontal scrolling is implemented in v0.4.0. Please change it to version 0.4.0 to start using horizontal scrolling.. Checkout documentation https://github.com/FolioReader/FolioReader-Android/wiki/Custom-Configuration

[2018-06-29 15:45] #15 closed

[2018-06-29 15:46] mahavir155 commented on #10
@TosinRoger @mfissehaye @atlantis0   Horizontal scrolling is implemented in v0.4.0. Please change it to version 0.4.0 to start using horizontal scrolling.. Checkout documentation https://github.com/FolioReader/FolioReader-Android/wiki/Custom-Configuration

[2018-06-29 15:46] #10 closed

[2018-06-29 15:48] mahavir155 commented on #160
Closing due to inactivity

[2018-06-29 15:48] #160 closed

[2018-06-29 19:30] LeoDiasDev opened #229 "Where is methods from next and prev buttons?"
I'm not finding the control methods to advance and rewind audio from epubs, only play.

Can someone help me with this?

Thanks

[2018-06-29 21:06] hrishikesh-kadam commented on #179
Progress Bar has been implemented in v0.4.0
@mahavir155 we can close this issue.

[2018-06-30 14:08] SonyGeorge opened #231 "New Copy Share popup menu appear in UI other than the default folio menu"
Hi Team,
Thank you for making this great library....

in the new release (0.4.0) if we select a text, then the action menu will appear,
if we click anywhere outside of selection, then another action menu again appear.
please have a look at the images
I have tested this on my emulator

1) [image 1](https://ibb.co/gtTigd) select text, folio action menu appear,
2) [image 2](https://ibb.co/faSgZy), cl

[2018-07-03 15:00] RodPatagonia opened #233 "Bug when opening links."
Hi,
I've found an issue when opening links in the shape of "http://127.0.0.1:8080/9789561226258/OEBPS/Text/capituloI.xhtml#toc_marker-3-3"
Those links are opened using the default browser.
Please see attached screenshot.

<img width="1151" alt="screen shot 2018-07-03 at 10 02 27 am" src="https://user-images.githubusercontent.com/40782598/42227801-4d354bd2-7eb0-11e8-8b25-f1f60d159b63.png">

[2018-07-05 08:19] hrishikesh-kadam commented on #189
This has been fixed in v0.4.0 and was only limited to Sample app of FolioReader.
Commit - https://github.com/FolioReader/FolioReader-Android/commit/4ebc8e34e6a74a3341832fee616fbbb6057469a3

@mahavir155 we can close this issue.

[2018-07-05 08:33] #189 closed

[2018-07-06 08:42] shanjiduo opened #234 "java.lang.NullPointerException"
Why are some .epub files not open?
![tim 20180709105708](https://user-images.githubusercontent.com/24763633/42428581-ed9aee3c-8366-11e8-93bb-8df9e624a5c5.png)

[2018-07-07 07:48] dheerubhadoria commented on #234
Reduce the version '0.3.11' from '0.4.0'
It will work

[2018-07-07 14:45] CucCuc opened #235 "Error with ConstraintLayout: No resource found that matches the given name"
[code]

[2018-07-08 16:09] ZayarTun27 opened #237 "java.lang.NullPointerException: Attempt to invoke virtual method 'android.database.Curso"
07-08 22:33:29.709 12953-12953/com.manacom.sartittar E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.manacom.sartittar, PID: 12953
    java.lang.NullPointerException: Attempt to invoke virtual method 'android.database.Cursor android.database.sqlite.SQLiteDatabase.rawQuery(java.lang.String, java.lang.String[])' on a null object reference
        at com.folioreader.model.sqlite.DbAdapter.ge

[2018-07-09 03:00] shanjiduo commented on #234
@dheerubhadoria Still the same mistake!

[2018-07-09 06:38] hrishikesh-kadam commented on #234
@shanjiduo This issue is related to EPUB Parsing. This might happen if the EPUB is invalidate or we have a bug in EPUB parsing. We are trying our best to support the invalidate EPUB file too.

Can you please share EPUB file with us so that we can investigate?

[2018-07-09 08:14] hrishikesh-kadam commented on #237
@ZayarTun27 Unable to reproduce in v0.4.0
Hope you have followed all the steps in Wiki pages.

[2018-07-09 09:02] shanjiduo commented on #234
@hrishikesh-kadam Already sent to you by email

[2018-07-09 11:17] hrishikesh-kadam commented on #234
@shanjiduo Thanks for reporting the issue. This issue has been fixed and will get released in v0.4.1 within a week.

[2018-07-09 12:43] Mayank0000 opened #238 "Font Folder is not reading in hindi epub file while other reader opening the files correctly."

[2018-07-10 01:50] ngokhongkn opened #239 "java.lang.NullPointerException: Attempt to invoke virtual method 'boolean android.view.ViewGroup.dispatchTouchEvent(android.view.MotionEvent)' on a null object reference"
07-10 08:43:55.768 32514-32514/de.zweidenker.rheinwerk_reader E/AndroidRuntime: FATAL EXCEPTION: main
    Process: de.zweidenker.rheinwerk_reader, PID: 32514
    java.lang.NullPointerException: Attempt to invoke virtual method 'boolean android.view.ViewGroup.dispatchTouchEvent(android.view.MotionEvent)' on a null object reference
        at com.folioreader.view.FolioWebView.computeHorizontalScroll

[2018-07-11 11:37] RTSTL commented on #123
-

- [ ]1. url

)

[2018-07-11 12:02] javavirys commented on #239
Add to FolioWebView.java  if (webViewPager! = Null) webViewPager.dispatchTouchEvent (event);

[2018-07-11 12:47] #179 closed

[2018-07-11 13:00] hrishikesh-kadam commented on #239
@ngokhongkn Can you please share EPUB file with us so that we can investigate?

@javavirys the solution you proposed would not make the Horizontal scrolling feature work. It would be helpful if you can share EPUB file with us.

This generally happens when JS Horizontal pagination code doesn't give callback to Java code in `FolioWebView.setHorizontalPageCount(int)`

[2018-07-12 04:21] javavirys commented on #239
Here's the epub
[pub.zip](https://github.com/FolioReader/FolioReader-Android/files/2186157/pub.zip)

[2018-07-12 07:40] hrishikesh-kadam commented on #239
@javavirys I am unable to reproduce the issue.
Can you please give me exact steps?

[2018-07-12 07:56] hrishikesh-kadam commented on #238
@Mayank0000 Hope you have updated to v0.4.0
If in case this issue still occurs in v0.4.0 then can you please share EPUB file with us?
Also describe issue with some description and steps to reproduce it?

[2018-07-12 08:02] hrishikesh-kadam commented on #177
@ikhanal Can you please check if this issue still occur in v0.4.0?

[2018-07-12 08:09] hrishikesh-kadam commented on #175
@NinadNaik2811 Status code 5xx are Server errors, you can read more here - [5xx Server errors](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#5xx_Server_errors)

This is due to bintray's server error. Currently the jar is being downloaded from the link specified.

@mahavir155 We can close this issue.

[2018-07-12 08:11] ngokhongkn commented on #239
Hi everybody
When I switch very fast, this error occurs.
In my project, I use folioreader to open each html page and not use it to open the epub.
thanks everyone. I fixed it by check null

[2018-07-12 08:20] #175 closed

[2018-07-12 08:20] hrishikesh-kadam commented on #170
@vikasrairajput We have made the necessary changes to load images. For the extra spacing issue please report it as new issue with some description, screenshots. Also it would be helpful if you could share the EPUB file.

@mahavir155 We can close this issue.

[2018-07-12 08:21] #170 closed

[2018-07-12 10:30] Mayank0000 commented on #238
Thank you so much, @hrishikesh-kadam.  Yes, the issue with the version.

 You had saved a lot of time of mine.

[2018-07-12 10:31] #238 closed

[2018-07-14 14:19] mayank2212 commented on #184
Getting this issue very often now. Any solution for this?

[2018-07-14 14:41] hackstarsj commented on #184
I modified This Library and Create my own code
On 14-Jul-2018 7:49 PM, "Mayank Bhatnagar" <notifications@github.com> wrote:

[2018-07-14 16:05] hrishikesh-kadam commented on #184
@khaleeljageer @king3224 @hackstarsj @mayank2212 Does this error occur still on v0.4.0?
If yes then can you please share EPUB file to reproduce it?

[2018-07-14 16:08] hackstarsj commented on #184
New Versions Had also Some issues. sometimes null pointer.
also remember that the file you try to opening doesn't contain white space.
On 14-Jul-2018 9:35 PM, "Hrishikesh Kadam" <notifications@github.com> wrote:

[2018-07-14 16:31] hrishikesh-kadam commented on #184
@hackstarsj I just checked again, in v0.4.0 EPUB files with white space and without white space does get open.
Also can you give us log about NPE (Null Pointer Exception)?

[2018-07-14 16:33] hackstarsj commented on #184
Sorry But I dont have the new logs.
I modify Your library and complete my works 😊.
Your Library Really Helps me If need i upload your modified library.
On 14-Jul-2018 10:01 PM, "Hrishikesh Kadam" <notifications@github.com>
wrote:

[2018-07-15 07:02] mayank2212 commented on #184
@hrishikesh-kadam here are the logs that i am getting in play console.
java.lang.IndexOutOfBoundsException:

  at java.util.ArrayList.get (ArrayList.java:411)

  at com.folioreader.ui.folio.activity.FolioActivity$7.onClick (FolioActivity.java:564)

  at android.view.View.performClick (View.java:6312)

  at android.view.View$PerformClick.run (View.java:23985)

  at android.os.Handler.handleCallback

[2018-07-16 06:21] hrishikesh-kadam commented on #184
@mayank2212 Which version are you using? And is it stock or have you modified it?

[2018-07-16 14:08] OlegTarashkevich opened #240 "set text to speech language"
Hey guys @hrishikesh-kadam @mahavir155,
Thank you for the great library!

Can you add ability to change language of speech for the book.
Currently in the project all our books have the german language. But your app reader reads on english pronunciation. How to set/change the language of text-to-speech? I see that **Locale.UK** is default.

I found that you set the language in MediaController on ne

[2018-07-17 08:31] Nikhil-z commented on #212
Didn't work

[2018-07-17 11:35] Nikhil-z opened #242 "Uncaught Error: Java exception was raised during method invocation", source: file:///android_asset/js/Bridge.js"
I have found some issues with 0.4.0 version of folio reader. I was trying to open a file from phone storage, the file gets open correctly but the loader keep on spinning till user touch the screen where loader get dismissed and content will be displayed

Following log was generated

[code]

[2018-07-17 11:54] mahavir155 commented on #240
@OlegTarashkevich
1. Yes, currently it is hard-coded to UK language.. Probably, we'll need make it configurable.. And if language is not supported by TTS, then it will use UK language.
2. Yes, we cannot disable the speech button but we can hide/show the speech button using
`Config.setShowTts(false)`

[2018-07-17 11:56] hrishikesh-kadam commented on #242
This has been fixed in https://github.com/codetoart/FolioReader-Android/commit/8fc350eece7dfa6ec933528287b44bd663edf9de. Changes required to address this issue is of just LoadingView.java

This fix will get released in proposed v0.4.1

[2018-07-17 12:25] Nikhil-z commented on #184
I am also having the same issue @mayank2212  @hrishikesh-kadam. If I am not wrong the new version 0.4.0 also have this issue

[2018-07-17 13:47] OlegTarashkevich commented on #240
@mahavir155

I set tts to false, but it shows the button.

[code]

[2018-07-17 13:51] mahavir155 commented on #240
Ohk.. It must have break when recently working on horizontal scrolling. it
will be fixed in next version 0.4.1..

On Tue, Jul 17, 2018 at 7:17 PM, Oleg Tarashkevich <notifications@github.com

[2018-07-17 13:54] hrishikesh-kadam commented on #240
@OlegTarashkevich We have changed our config code alot in v0.4.0 as in previous versions config overriding was not easily possible.

Please upgrade to v0.4.0

[2018-07-18 07:06] OlegTarashkevich commented on #240
Thank you, now it works

[2018-07-18 07:20] AsyaLeah opened #243 "Do not change the font size and font for added books"
Hi, I'm using the version 0.4.0

In books that are in the application font size and fint is changing
but when I add new books it doesn't work.
![screenshot_1531897833](https://user-images.githubusercontent.com/41360300/42866013-0e3ef25a-8a74-11e8-9813-c4ebe352b02b.png)
![screenshot_1531897837](https://user-images.githubusercontent.com/41360300/42866014-0e5eb5ea-8a74-11e8-8e58-698df1da94ee.png)

[2018-07-18 08:18] AsyaLeah opened #244 "Some Links are not working"
Links works only inside the chapter
[code]

[2018-07-18 09:50] hrishikesh-kadam commented on #184
@Nikhil-z is it reproducible everytime you open a specific EPUB?

[2018-07-19 05:56] Nikhil-z commented on #184
@hrishikesh-kadam  Yes it is possible to reproduce the error but not for every EPUB file. I have found one more interesting fact that the ratio of error generating is higher in a LOWER END device where HIGHER END device hardly gets it while doing MONKEY TESTING.

`Crashed: main
       at java.util.ArrayList.get(ArrayList.java:411)
       at com.folioreader.ui.folio.activity.FolioActivity$1.onClick

[2018-07-19 07:03] hrishikesh-kadam commented on #184
@Nikhil-z Can you please share a specific EPUB in which this issue occurs?
Also the log you listed doesn't seems to be of v0.4.0 -

`at com.folioreader.ui.folio.activity.FolioActivity$1.onClick(FolioActivity.java:174)`

There is no click event at that line in `FolioActivity` for v0.4.0 code.

Have you customized the FolioReader?

[2018-07-20 07:12] Nikhil-z commented on #184
@hrishikesh-kadam  Yes the log is from 0.3.7 version. I tried v0.4.0 version but which also had same issue. I will share that log too. I have also attached the epub file from which I got the error.
[5ac4def2ef132152285157.epub.zip](https://github.com/FolioReader/FolioReader-Android/files/2212860/5ac4def2ef132152285157.epub.zip)

[2018-07-20 09:34] Nikhil-z commented on #184
@hrishikesh-kadam  Here is the crash error log which I found from the v0.4.0

`#0. Crashed: main
       at java.util.ArrayList.get(ArrayList.java:411)
       at com.folioreader.ui.folio.activity.FolioActivity.startContentHighlightActivity(FolioActivity.java:182)
       at com.folioreader.view.FolioToolbar$initListeners$1.onClick(FolioToolbar.kt:50)
       at android.view.View.performClick(View.jav

[2018-07-20 09:40] mahavir155 commented on #184
@Nikhil-z Which device and on which android version you reproduced this issue?
Is it reproduced randomly? Or everytime?

Strangely, we didn't able to reproduce here. Other user also facing this issue quite frequently.

[2018-07-20 10:58] Nikhil-z commented on #184
@mahavir155  Device was Moto E3 and OS version was Marshmallow. In Lower end device like moto E3 its can be reproduced easily where for higher end device like Mi note 5 its happen randomly

[2018-07-24 14:32] SonyGeorge opened #245 "java.lang.IndexOutOfBoundsException: at FolioActivity.java:149"
java.lang.IndexOutOfBoundsException:
   at java.util.ArrayList.get (ArrayList.java:437)
   at com.folioreader.ui.folio.activity.FolioActivity.startContentHighlightActivity (FolioActivity.java:149)
   at com.folioreader.view.FolioToolbar$initListeners$1.onClick (FolioToolbar.kt:50)
   at android.view.View.performClick (View.java:6897)
   at android.view.View$PerformClick.run (View.java:26101)
   at

[2018-07-25 06:31] hrishikesh-kadam commented on #245
This has been fixed in commit https://github.com/codetoart/FolioReader-Android/commit/d1d28fc2d917094c1361266b671d32c4d9a8b6ac
This code will get released in proposed v0.4.1 which will also have search feature.

Duplicate of #184

[2018-07-27 19:18] dumanapp opened #246 "java.lang.RuntimeException: Unable to start activity ComponentInfo{com.edep.myereader/com.folioreader.ui.folio.activity.FolioActivity}: java.lang.NullPointerException: Attempt to read from field 'java.util.List org.readium.r2_streamer.model.publication.EpubPublication.links' on a null object reference"
Hi I have an error at your library. How can I fix it? I use 0.4.0 version.
Thanks.

[2018-08-02 08:44] amit-maheta opened #247 "BookMark & Search Functionality"
I want to require BookMark & Search Functionality is it possible to integrate into this library?

[2018-08-02 14:33] WordpressReady opened #248 "Force going to index to select chapters"
This is not an issue per se, but a possible feature.

I'm testing FolioReader with few epubs and the app is working very good!

However, I noticed that if I read a book, folio reader is going from page to page without need of using the index. This is made transparently which is great.

I have a particular case where I would need after the user read a entire page (which are big), go back to the ind

[2018-08-02 15:04] mahavir155 commented on #248
@WordpressReady You mean chapter to chapter or page to page (in case of horizontal scrolling)?
Chapter may have multiple pages (in case of horizontal scrolling).

[2018-08-02 15:10] WordpressReady commented on #248
I mean page to page, since I have some heavy pages.
Maybe there is some event that triggers when reader goes from one page to another (?).
I'm thinking to prevent scroll in such case or warn student is going to a new page(s), or something  clever.
Thanks!

[2018-08-02 19:38] dumanapp commented on #221
@hrishikesh-kadam  hi, first of all thank you for this great job. I use 0.4.0 version and still have a this error. How can I solve this?

[2018-08-03 12:58] devsideal commented on #238
@hrishikesh-kadam Yes v0.4.0 well opening Hindi files but List of Hindi highlights and Hindi audio not well ?

[2018-08-03 19:51] dumanapp commented on #246
@hrishikesh-kadam

[2018-08-06 15:09] WordpressReady commented on #248
Solved using onPageScrollStateChanged event
Thanks

[2018-08-06 15:09] #248 closed

[2018-08-07 15:52] risechen opened #249 "how to get the chapter's page when is horizontal"

[2018-08-09 18:30] WordpressReady opened #250 "How to open a uncompressed epub?"
I have an ebook with many images and it takes a while being decompressed before displaying to the users.
Is there a way of working with a unpackaged epub file? If so, where do i put the files?
Thank you

[2018-08-10 08:11] OlegTarashkevich opened #251 "Ability to close the reader from the outside"
Hi guys @hrishikesh-kadam @mahavir155 !
First of all thank you for the great library!

Does folio reader has ability to close itself outside of the reader.

For example I start reading the book from MainActivity, start the timer, when it finishes I call to close the reader and save read position.

If Folio Reader has no this option - what is you suggestion, how to implement it?

[2018-08-10 08:34] OlegTarashkevich commented on #251
@mahavir155 Awesome, good to know!
When it can be implemented, I hope it's not so hard for you?

[2018-08-10 10:25] WordpressReady commented on #250
No ideas?

[2018-08-10 12:03] ali-hardan opened #252 "Is there are free FolioReader based app for normal users?"
Is exists free app based on FolioReader for normal users, who want simply read epubs only.

[2018-08-11 19:25] kozec opened #253 "ShowTts configuration seems to be ignored"
Hello,

I've tried to use code from README only to find that it crashes when trying to initialize TTS engine. To workaround this, I've used custom config with ShowTts option disabled:

[code]

Despite this, library still tries to create TTS engine (not quite possible on eBook reader with no speakers) and crashes:

[code]

[2018-08-14 10:06] nuwanchamara commented on #170
code in SetNetl() method looks like below
` private void setHtml(boolean reloaded) {
        if (spineItem != null) {
            String ref = spineItem.href;
            if (!reloaded && spineItem.properties.contains("media-overlay")) {
                mediaController.setSMILItems(SMILParser.parseSMIL(mHtmlString));
                mediaController.setUpMediaPlayer(spineItem.mediaOverlay, spineIte

[2018-08-14 11:25] nuwanchamara opened #254 "Images Not showing"
text content is showing, but images are not showing. My stack trace as bellow

[code]

[2018-08-14 19:48] dumanapp commented on #221
@mahavir155 and @mahavir155 . First thanks for this great library but I still take this error and I use 0.4.0 version.
how can solve this?

[2018-08-16 12:51] basupatil2727 opened #255 "How to adjust video aspect ratio?"
Hi team,

I am opening a epub file which contains a video,its playing fine but the video is not fitting correctly to the screen.what is the change i need to do to work it properly?

Please find the attached file used [here](https://drive.google.com/open?id=1PWI2aazP749X0eonSHSEOMBXwexyrkpz) and screenshot [here](https://drive.google.com/open?id=135xnM4TljDYOBmjdriC6Z04yQi8ZejYB).

Thanks in advanc

[2018-08-20 12:10] #234 closed

[2018-08-20 14:14] #211 closed

[2018-08-20 14:14] #226 closed

[2018-08-20 14:14] #235 closed

[2018-08-20 14:14] #184 closed

[2018-08-20 14:14] #233 closed

[2018-08-20 14:39] hrishikesh-kadam commented on #211
This issue has been fixed in v0.4.1
Previously config themeColor was saved as res id which is not constant.
Now themeColor is saved as @ColorInt

[2018-08-20 14:40] hrishikesh-kadam commented on #235
Fixed in v0.4.1

[2018-08-20 14:40] hrishikesh-kadam commented on #226
Fixed in v0.4.1

[2018-08-20 14:43] hrishikesh-kadam commented on #184
Fixed in v0.4.1

[2018-08-20 14:43] hrishikesh-kadam commented on #245
Fixed in v0.4.1

[2018-08-20 14:47] hrishikesh-kadam commented on #233
Fixed in v0.4.1

[2018-08-20 14:48] hackstarsj commented on #184
Does new version support epub 3 files?
On 20-Aug-2018 8:14 PM, "Hrishikesh Kadam" <notifications@github.com> wrote:

[2018-08-20 14:55] mahavir155 commented on #184
Previous versions was also supporting epub 3 files.

On Mon, Aug 20, 2018 at 8:18 PM, sanjeev kumar <notifications@github.com>
wrote:

[2018-08-20 14:57] #245 closed

[2018-08-20 14:57] mahavir155 commented on #247
@amit-maheta search functionality implemented

[2018-08-20 14:57] #247 closed

[2018-08-20 15:08] hrishikesh-kadam commented on #254
@nuwanchamara Can you please share EPUB file for further investigation?

[2018-08-20 15:25] hackstarsj commented on #184
Thanks please wait i while share the file.
On 20-Aug-2018 8:54 PM, "Hrishikesh Kadam" <notifications@github.com> wrote:

[2018-08-20 15:51] dumanapp commented on #246
Hi thanks for reply.
It is no matter which epub file but I can send a book.

This is Tom Sawyer Epub file from gutenberg project :
[http://www.gutenberg.org/ebooks/74.epub.images?session_id=a274aa7b58033fbc590453be7142b64303737077](url)

[2018-08-21 04:06] nuwanchamara commented on #190
I tried different port numbers but it not working (In samsung J7) . But it works on ther devices like Xiomi redmi3 , Moto G5 and Huwawi devices (With default port).

[2018-08-21 08:58] amit-maheta commented on #247
Thanks for your quick reply @mahavir155

[2018-08-21 13:46] hrishikesh-kadam commented on #243
@AsyaLeah Can you please provide EPUB file for investigation?

Also now we have added Issue Template for reporting any issues -
https://github.com/FolioReader/FolioReader-Android#reporting-issue

So please fill the template and reply back on same thread.

[2018-08-21 13:49] hrishikesh-kadam commented on #242
@Nikhil-z v0.4.1 has been released. Thanks for reporting the issue.

@mahavir155 We can close this issue.

[2018-08-21 14:06] hrishikesh-kadam commented on #231
@SonyGeorge Unable to reproduce in FolioReader stock v0.4.0 or v0.4.1

[2018-08-21 14:11] #242 closed

[2018-08-21 19:42] dumanapp commented on #246
@hrishikesh-kadam
I tried again in v0.4.1 and still have a problem.

Also I notice that if I use API 16 and API 21 with emulator I give an error but if I use API 27 I don't give an error.
Is the library not available for Android 4.1.1 or 5.0 ?

[2018-08-21 19:49] dumanapp commented on #246
@hrishikesh-kadam I fill the issue template.

Issue Template : NullPointerException
Issue / Feature :
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.edep.myereader/com.folioreader.ui.folio.activity.FolioActivity}: java.lang.NullPointerException: Attempt to read from field 'java.util.List org.readium.r2_streamer.model.publication.EpubPublication.links' on a null object refer

[2018-08-21 20:35] dumanapp opened #258 "java.lang.NoClassDefFoundError: android/webkit/JavascriptInterface"
I have a problem but I can not figure out why?

You create a issue template. This is good idea. My issue report is below

Issue / Feature java.lang.NoClassDefFoundError: android/webkit/JavascriptInterface
FolioReader version - v.0.4.1
FolioReader Stock / Modified - Stock
Android SDK - API 16( 4.4.1
Mobile / Tablet / Emulator Info - Genymotion Emulator Samsung S2
Crash / Error java.lang.NoClassDefF

[2018-08-22 11:46] dumanapp opened #259 "The Search implementation does not support Turkish Character"
Hi you add a new implement: Search View. This is  a good idea. But The Search implement does not support Turkish character ( ç-Ç ; ı-I ; ğ-Ğ ; ö-Ö , ş-Ş, ü-Ü) . How can I  add this characters ?

And one more question? How can I re-create dictionary and wikipedia content. Because I think the dictionary does not support Turkish and unfortunately wikipedia does not available for my country.

Thanks.

[2018-08-22 13:37] katcom opened #260 "Break in filename containing special characters"
I found that the code to open a epub file cannot work with files whose names consists of special characters, such as "Austen, Jane - Emma.epub". By contrast, it works perfectly fine with a typically named file "AustenJaneEmma.epub".

The code that I used was as follow:

[code]

And the error information from logcat was

[2018-08-22 13:42] hrishikesh-kadam commented on #260
We have recently added Issue Template for reporting any issues -
https://github.com/FolioReader/FolioReader-Android#reporting-issue

So please fill the template and reply back on same thread.

[2018-08-22 14:14] katcom commented on #260
Sorry , I had not noticed the available template.

[2018-08-22 14:14] #260 closed

[2018-08-22 14:30] katcom opened #261 "Cannot open a file with filename containing special characters."
Issue / Feature - Issue
FolioReader version - 0.4.1
FolioReader Stock / Modified - Stock
Android SDK - 26.1.1
Mobile / Tablet / Emulator Info - Xiaomi Mi-4c
Crash / Error - Error

Steps to reproduce / Describe in detail -

I'm using library version 0.4.1  When trying to open epub from my Activity, eg -

[code]

Getting this error - (While i'm opening the file from my activity)

- `08-22 22:25:37.9

[2018-08-22 16:52] looknear commented on #252
yes.
here sample: https://www.e-vrit.co.il/

[2018-08-23 19:40] JFox-sk opened #262 "Is it possible reading epub file directly from assetes location?"
Why folioreader not reading epub file from assets location, but first copy this file to sd card and then read it from sd card?
Is it possible reading epub file directly from assetes location?

[2018-08-25 05:39] veeyka opened #263 "getPageNumber"
hey
how can i get page number to save it in a sharedPreference when we close book
i need page number to save it and open book if user opens it later (open in last page closed)
thanks

[2018-08-25 15:14] KishanViramgama commented on #263
Follow This Link [https://github.com/FolioReader/FolioReader-Android#wiki](url)

[2018-08-26 09:56] AsyaLeah commented on #243
is the file
[tfilat_haderech_ru_ah.zip](https://github.com/FolioReader/FolioReader-Android/files/2321412/tfilat_haderech_ru_ah.zip)

i solved it

in file Style.css

It was:

.andada {
     font-family: "andada", sans-serif;
 }
.lato {
     font-family: "lato", serif;
 }
.lora {
     font-family: "lora", serif;
 }
.raleway {
     font-family: "raleway", sans-serif;
 }

html.textSizeOne { font-size:

[2018-08-26 16:32] dumanapp commented on #263
@KishanViramgama hi . I searched at FolioReader wiki you mean that get/set readposition. But I can not figure out how can I apply in my app?

[2018-08-27 04:36] KishanViramgama commented on #263
folioReader.setReadPositionListener(new ReadPositionListener() {
                @Override
                public void saveReadPosition(ReadPosition readPosition) {
                    Log.d("readPosition", readPosition.toJson());
                    if (db.checkIdEpub(id)) {
                        db.addEpub(id, readPosition.toJson());
                    } else {
                        db.upda

[2018-08-27 16:04] KishanViramgama commented on #263
- i have show you example how to work
- db is a my database class object name and checkIdEpub() is a my method i have check book is already store or not
- addEpub() is a method to store the lastread read position information
- updateEpub() is a my method already save last read position information  update to the database
- getEpub() is a my method get the last read position information in book

[2018-08-27 17:10] hrishikesh-kadam commented on #246
@dumanapp I think you are using Non Google APIs System Images for Emulators.

API 16 Intel x86 Atom System Image has a bug which doesn't mount internal SD card.
Bug Link - https://issuetracker.google.com/issues/37138030

About API 21, FolioReader does work on Google APIs and Non Google APIs System Images.

So, please use Google APIs System Image for API 16.

@mahavir155 We can close this issue.

[2018-08-27 19:59] hrishikesh-kadam commented on #258
According to [JavaScriptInterface Docs][1] they were added in API 17.
JavaScriptInterface doesn't work on some images < API 17 like the one of Genymotion 4.1.1 API 16 .
But if you try on API 16 Google APIs System Image then JavaScriptInterface does work.

[1]: https://developer.android.com/reference/android/webkit/WebView.html#addJavascriptInterface(java.lang.Object,%20java.lang.String)

[2018-08-27 20:01] hrishikesh-kadam commented on #172
@chawaphonSa Please help us to better understand your issue.

We have added Issue Template for reporting any issues -
https://github.com/FolioReader/FolioReader-Android#reporting-issue

So please fill the template and reply back on same thread.

[2018-08-27 20:05] hrishikesh-kadam commented on #249
@risechen Do you mean to say Chapter's Page or Page Number?

[2018-08-27 20:17] hrishikesh-kadam commented on #61
@daniyarmukhanov Search feature is live in v0.4.1
@mahavir155 we can close this issue.

[2018-08-28 08:51] hrishikesh-kadam commented on #244
@AsyaLeah Can you please share EPUB file for further investigation?

Also now we have added Issue Template for reporting any issues -
https://github.com/FolioReader/FolioReader-Android#reporting-issue

So please fill the template and reply back on same thread.

[2018-08-28 11:31] flxkalu opened #264 "Am I restricted to open epub files from raw and asset folder alone?"
I am developing an ebook reader app and everything works fine when i store the epub files on the assets or raw files. But it is not possible to download and files on the assets and raw folders so i am saving files in the internal storage so that the downloaded ebooks would not be accessed by any user or other apps but when i try to open the books with the internal storage file path folio reader cr

[2018-08-28 11:43] flxkalu opened #265 "How can i use folio reader to open epub files saved internal storage?"
How can i use folio reader to open epub files saved internal storage? so far folioreader only opens files stored in assets and raw folders. Any help would go a long way. Thanks in advance.

[2018-08-28 12:35] hrishikesh-kadam commented on #263
@veeyka Storing page number as last read position would be inconsistent as page number would be different on portarait and landscape mode or on tablet and mobiles. So we store the first visible span index or id as the last read position. Hope you have seen Wiki pages related to `ReadPosition`

@dumanapp We have updated Wiki pages, please have a look. It might help you to understand better.

[2018-08-28 13:26] hrishikesh-kadam commented on #264
@flxkalu Look like #265 is duplicate of this. So let us have chat on this issue. Also can you please yourself close the duplicate issue?

Now talking about the issue, FolioReader does open files stored in app's internal storage.
May I know what path are you specifying in `FolioReader.openBook()`?

Also now we have added Issue Template for reporting any issues -
https://github.com/FolioReader/Folio

[2018-08-28 14:40] hrishikesh-kadam commented on #261
@katcom Thanks for filling the issue template. I think you mean to say 5.1.1 instead of 26.1.1 in Android SDK.

I am unable to reproduce the issue. Can you please send us the EPUB for further investigation?

[2018-08-28 14:59] katcom commented on #261
Simply wired. There is the EPUB I had used.

[Austen, Jane - Emma.zip](https://github.com/FolioReader/FolioReader-Android/files/2328598/Austen.Jane.-.Emma.zip)

[2018-08-28 15:22] #265 closed

[2018-08-28 15:26] flxkalu commented on #264
Thanks for the reply. I have closed the duplicate case as you mentioned.

I am downloading the epub file and storing on the internal storage using the getFilesDir().getAbsolutPath()+filename

When i try to open the epub file with the openbook method stored in that location it returns null object error.

[2018-08-28 21:30] flxkalu commented on #264
Issue / Feature - Issue
FolioReader version - 0.3.9
FolioReader Stock / Modified - Stock
Android SDK - 4.4.4
Mobile / Tablet / Emulator Info -pixel 2 nougat
Crash / Error - Crash

Steps to reproduce / Describe in detail -

I'm using library version 0.3.9 When trying to open epub from my Activity, eg -

FolioReader folioReader = FolioReader;
folioReader.openBook(getFilesDir.getAbsolutPath()+fileNam

[2018-08-29 06:42] AsyaLeah opened #266 "How can I show in the highlight 50 characters before and 50 characters after?"
Hi team,

First of all thank you!

How can I show in the highlight 50 characters before and 50 characters after?

I want it to look like this:

----
Oct. 01, 2018 | 09:00
50_characters _before **TEXT_HIGHLIGHT** 50_characters_after
----
Thanks in advance.

[2018-08-29 06:55] AsyaLeah commented on #244
it did not work in the version in version 0.4.0
it works in version 0.4.1
Thanks!!!

[2018-08-29 07:09] hrishikesh-kadam commented on #244
@mahavir155 we can close this issue.

[2018-08-29 07:10] #244 closed

[2018-08-29 07:28] hrishikesh-kadam commented on #264
@flxkalu I think you are missing a forward slash in path "/".

This is how you should open a book stored in files directory of your app's internal (private) storage.
`folioReader.openBook(getFilesDir().getAbsolutePath() + "/" + bookFileName);`

`getFilesDir().getAbsolutePath()` will generate following path for sample app -
/data/user/0/com.folioreader.android.sample/files

So all your downloaded d

[2018-08-29 08:17] #246 closed

[2018-08-29 08:17] #61 closed

[2018-08-29 08:19] #258 closed

[2018-08-29 09:26] flxkalu commented on #264
i put the slash. Here is the complete code snippet from the actual code: This code runs after the download AsyncTask.

@Override
        protected void onPostExecute(String file_url) {
            dismissDialog(progress_bar_type);

            String filePath = getFilesDir().getAbsolutePath() + "/downloadedfile.epub";
            Log.i("PATH", filePath);
            folioReader.openBook(filePath);

[2018-08-29 09:40] flxkalu commented on #264
Do you think this might have anything to do with the folioreader version? Do all the versions support reading epub files from any storage location. I tried to look at the entire library and saw codes relating to RAW, Assets and external storage. They were even saved as constants but i did not see anything for internal storage. Thats why i'm confused. I'm not sure where the problem is coming from.

[2018-08-29 09:42] stevensiahaan opened #268 "Open Online EPUB files"
Hi, is there any way that I could use so i can read online epub files without downloading it first? Thanks before

[2018-08-29 11:30] hrishikesh-kadam commented on #264
@flxkalu I think the problem would be difference between the path of actual stored location of downloaded file and the path you are serving to openBook().

Do check the path of downloaded epub file from Device File Explorer window of Android Studio.

[2018-08-29 12:34] hrishikesh-kadam commented on #266
@AsyaLeah You can modify FolioReader according to your need.
row_highlight.xml is the layout of Highlight list item.

@mahavir155 Not an issue. we can close it.

[2018-08-29 12:55] #266 closed

[2018-08-29 13:05] hrishikesh-kadam commented on #264
@flxkalu Can you share the downloaded epub's path, getFilesDir().getAbsolutePath()?

[2018-08-29 14:08] flxkalu commented on #264
getFilesDir().getAbsolutePath() returns:
/data/user/0/com.folioreader.android.sample/files

i have used the same codes to download and open different formats of image files on image view and it works perfectly.

[2018-08-29 14:26] flxkalu commented on #264
this is how i initialised it:

 final FolioReader folioReader = FolioReader.getInstance(getActivity().getApplicationContext());

I initialised it like this because the openBook method is called inside the onPostExecute() method of the AsyncTask class ensuring that the file is completely downloaded before it tries to open it.

and this is how i called it:

folioReader.openBook(filePath);

[2018-08-29 16:48] katcom commented on #261
Thanks :)

[2018-08-29 17:46] #264 closed

[2018-08-30 09:14] hrishikesh-kadam commented on #243
@AsyaLeah You don't have to change the styling that much.
Issue has been fixed by changing font-size unit from em to rem.
This issue will get release in next release.

Thanks for submitting the issue and sharing EPUB file.

[2018-08-31 14:26] #243 closed

[2018-08-31 14:26] #251 closed

[2018-08-31 14:26] #261 closed

[2018-08-31 14:31] hrishikesh-kadam commented on #251
@OlegTarashkevich Close API now live in v0.4.2

[2018-08-31 14:33] hrishikesh-kadam commented on #243
@AsyaLeah Issue fix released in v0.4.2

[2018-08-31 14:34] hrishikesh-kadam commented on #261
@katcom Issue fix released in v0.4.2

[2018-09-01 04:13] katcom commented on #268
@hrishikesh-kadam Is it a good idea that I write code for the function, which downloads file from Internet and store it in the application directory?

[2018-09-01 04:32] katcom commented on #262
Actually, I saw enhancement.  The cache file, I think, should be generated in app directory rather than in sdcard. To save caches in sdcard is not safe, since they can be easily deleted by users or other applications.

The code from Internet illustrates how a cache of epub can be generate within app directory.
[code]

[2018-09-01 13:09] WordpressReady opened #270 "Feature: flip page effect"
Issue / Feature - Feature
FolioReader version - 0.4.0 and above
FolioReader Stock / Modified -
Android SDK -
Mobile / Tablet / Emulator Info -
Crash / Error -
Steps to reproduce / Describe in detail -

Is it possible to add a flip page effect?
Also it would be desirable an enable/disable option
Thanks

[2018-09-02 20:03] flipnovidade opened #271 "How to use _usingId_ and _value_. Not works"
Issue / Feature -
FolioReader version -  0.4.0
FolioReader Stock / Modified -  0.4.0
Android SDK - 28
Mobile / Tablet / Emulator Info -  onePlus5 - Pixel2(emulator)
Crash / Error - Not crash

Steps to reproduce / Describe in detail -

I'm trying to open the text in a specific place but it does not work.
I opened it in the correct chapter but I can not open it in the correct paragraph
My code:
[cod

[2018-09-03 06:04] hrishikesh-kadam commented on #271
@flipnovidade Can you share the EPUB file so that we can investigate?

[2018-09-03 11:32] Mayank0000 opened #273 "Image Resizing for comics"
I want to resize the image for comics section. Image is not visible in thi case.

[2018-09-03 12:33] hrishikesh-kadam commented on #273
@Mayank0000 Can you please share EPUB file for further investigation?
Also it would be helpful if you could fill the [Issue Template][1].

[1]: https://github.com/FolioReader/FolioReader-Android/blob/master/.github/ISSUE_TEMPLATE.md

[2018-09-03 12:59] Mayank0000 commented on #273
PFA of an epub file and this file is a sample.

Enhancement:-   I want to resize the image i.e. zoom in/ zoom out for
reading this type of comics.  I had changed the CSS file where
   Max Height:- 95%
  Max Width: -  100%

to
   Max Height :- auto
  Max Width -  auto.

On Mon, Sep 3, 2018 at 6:03 PM Hrishikesh Kadam <notifications@github.com>
wrote:

--
Thanks and Regards

 Mayank Patni

[2018-09-03 14:21] losscommand opened #274 "Crash on SearchActivity"
Issue / Feature - Issue
FolioReader version -  0.4.2
FolioReader Stock / Modified -  Stock
Android SDK - 7.0
Mobile / Tablet / Emulator Info -  Samsung Galaxy J7 (2016)
Crash / Error - Crash

Steps to reproduce / Describe in detail -

App crash when I tap search.
The library is included as module.

Here is the message i get.
[code]

[2018-09-03 20:15] dumanapp opened #275 "Sample FolioReader App doesn't save LastReadPosition"
Issue / Feature - Sample FolioReader App doesn't save LastReadPosition
FolioReader version -  v0.4.1 and v.0.4.3
FolioReader Stock / Modified -  Stock
Android SDK - Android 20-21-22-27-28
Mobile / Tablet / Emulator Info -  Android Studio Emulator
Crash / Error -

I want to test the sample app for how is it working but I notice that the app does not last read position listener.

Steps to reproduce

[2018-09-05 05:53] techvedikasolutions opened #276 "Epub content is shown only in one app among multiple apps (use at a time) when we use folioreader library in multiple apps(due to same port number)"
I am using the folioreader sdk in multiple apps.If we use all the apps at a time epub content shows in only one app.because same port number is using in all apps to run the server(which folio reader library using to get the content from localhost server).Is there any way to solve this issue.

Issue / Feature - issue
FolioReader version -  0.39
FolioReader Stock / Modified -
Android SDK -
Mobile /

[2018-09-05 06:26] hrishikesh-kadam commented on #276
@techvedikasolutions You need to provide different port no for different apps and pass the port no by calling following method.

https://github.com/FolioReader/FolioReader-Android/blob/260865743f42575d95553cc6f468cc60b0b96e85/folioreader/src/main/java/com/folioreader/FolioReader.java#L127

[2018-09-05 07:19] techvedikasolutions commented on #276
Presently you people statically defined the port number in the code.Even though we pass the port number from our app code.So I taken the library code to my app code and use the different port numbers to run them.But we got one doubt like if anyone(other apps) uses the same library with same port number then also we got the same issue,we maynot know whether the other apps using which port number ri

[2018-09-06 10:04] stevensiahaan opened #278 "Failed resolution of: Lorg/readium/r2_streamer/server/EpubServerSingleton"
Issue / Feature -  Failed resolution of: Lorg/readium/r2_streamer/server/EpubServerSingleton
FolioReader version -  0.4.3
FolioReader Stock / Modified -
Android SDK -
Mobile / Tablet / Emulator Info -  Mobile OPPO Android a37f
Crash / Error - NoClassDefFoundError

Steps to reproduce / Describe in detail -
 FATAL EXCEPTION: main

[2018-09-06 10:04] stevensiahaan commented on #278
@hebertialmeida

[2018-09-06 17:35] #278 closed

[2018-09-10 12:38] dumanapp opened #279 "The LastReadPositionListener is not working - Can not save last read position"
Issue / Feature - The LastReadPositionListener is not working - Can not save last read position
FolioReader version -  Botj of v.0.4.1 and v.0.4.3
FolioReader Stock / Modified -  Modified
Android SDK - Android SDK API 20-28
Mobile / Tablet / Emulator Info -  Genymotion Google Galaxy Nexus 4.2.2
Crash / Error -
Everything work fine but LastReadPositionListener does not work.
Can not save last read

[2018-09-10 13:42] flipnovidade commented on #271
@hrishikesh-kadam

https://www.dropbox.com/s/3jsvnrqkpi05evk/TheSilverChair.epub?dl=0

[2018-09-12 10:45] ehsan5 opened #280 "Read From array of bye"
Hello,
I want to read from array of byte(byte[]) var instead of url
my you help me?

[2018-09-12 10:47] hrishikesh-kadam commented on #276
@techvedikasolutions Yes there is bug in FolioReader which has static url hitting the local server.
Currently we are busy in migrating from r2-streamer-java to r2-streamer-kotlin.
After migration to r2-streamer-kotlin we will take this bug and will come with some logic to handle your query.

[2018-09-12 18:42] prsolucoes opened #281 "Some questions"
Hi,

I have some questions:

1 - How to prevent load last position read?
2 - How to add only reader fragment inside my activity without their buttons and navigation things?

Thanks.

[2018-09-13 05:16] lhj0017 commented on #274
一样的问题

[2018-09-17 14:12] hrishikesh-kadam commented on #102
@valinaga This has been already fixed in v0.3.9
@mahavir155 We can close this issue.

[2018-09-17 14:13] #102 closed

[2018-09-17 18:36] revolucionx2 opened #282 "Open epub with DRM"
Can I open epub with DRM?

[2018-09-18 03:17] ycsghr opened #283 "I don't know why there is an input box under the code tag and my epub has an image that cannot be displayed."
![image](https://user-images.githubusercontent.com/34826145/45662138-3d3e0100-bb33-11e8-9e12-541ab2908a6d.png)
I don't know why there is an input box under the code tag and my epub has an image that cannot be displayed.
This is my epub file
[wwww.zip](https://github.com/FolioReader/FolioReader-Android/files/2391029/wwww.zip)

[2018-09-18 05:18] ycsghr commented on #283
When I press and hold on Chinese, he always can't show the highlighting operation and always has the system stuff on my phone.

[2018-09-18 05:50] ycsghr commented on #283
![image](https://user-images.githubusercontent.com/34826145/45666944-c52f0580-bb49-11e8-8932-bd6e69400328.png)

[2018-09-18 06:55] hrishikesh-kadam commented on #282
@revolucionx2 Currently FolioReader is not capable to open DRM protected EPUB but we have started working on the Readium LCP DRM integration.

May I know which EPUB DRM are you interested in to open?

[2018-09-18 06:57] hrishikesh-kadam commented on #283
@ycsghr Can you tell us which FolioReader version are you using?
Also tell us which Android version are you using?

[2018-09-19 02:08] ycsghr commented on #283
How can I ensure that my epub file will not be manipulated by the user?

[2018-09-19 10:41] ycsghr opened #284 "Unable to display my epub file"
Issue / Feature -
FolioReader version -  0.4.3
FolioReader Stock / Modified -
Android SDK -
Mobile / Tablet / Emulator Info -
Crash / Error -
![s80919-18390944](https://user-images.githubusercontent.com/34826145/45748480-75306b80-bc3b-11e8-8148-f083a789eb8d.jpg)
![s80919-18391413](https://user-images.githubusercontent.com/34826145/45748482-76fa2f00-bc3b-11e8-8bce-a2ad90c09781.jpg)
Unable to displa

[2018-09-20 00:33] roniahmad opened #285 "Can not Add Notes to a Highlight"
Issue - Hi, I tried this new version and I wonder that I can not add notes to a highlight at this version. Did I miss something ?

FolioReader version -  0.4.3
FolioReader Stock / Modified -
Android SDK -
Mobile / Tablet / Emulator Info -
Crash / Error -

Steps to reproduce / Describe in detail -

[2018-09-20 02:48] roniahmad commented on #285
My pardon, simply my mistake

[2018-09-20 02:48] #285 closed

[2018-09-20 03:00] ycsghr commented on #284
help me

[2018-09-21 02:16] ycsghr commented on #284
Come to help me personally, when my html is Chinese or the picture is Chinese, it can't be displayed.

[2018-09-21 02:38] ycsghr commented on #284
[sikan.zip](https://github.com/FolioReader/FolioReader-Android/files/2403715/sikan.zip)
This is my epub file

[2018-09-21 02:39] ycsghr commented on #284
Waiting online, etc.

[2018-09-21 06:58] hrishikesh-kadam commented on #284
Hi @ycsghr!
Currently we are busy in integrating kotlin based parser.
So once that's done we will take this bug.
Many of the bugs listed by you will surely get fixed after integrating that kotlin based parser.
Probably it would take 4 weeks from now for next release.
Till then please excuse us.

[2018-09-21 07:30] lekhrajtiwari commented on #274
hey! did you find any solution for it? am also facing the same issue!!

is there any way to disable search view.

this the error I get.

java.lang.IllegalStateException: menu.findItem(R.id.itemSearch) must not be null
        at com.folioreader.ui.folio.activity.SearchActivity.onCreateOptionsMenu(SearchActivity.kt:226)
        at android.app.Activity.onCreatePanelMenu(Activity.java:3090)
        a

[2018-09-21 07:33] hrishikesh-kadam commented on #274
@losscommand @lekhrajtiwari Hey guys are you sure you haven't modified the FolioReader code?
I am unable to reproduce the bug.

[2018-09-21 07:41] lekhrajtiwari commented on #274
yes @hrishikesh-kadam  implemented the code as given in the guide

repositories {
    maven {
        url 'http://dl.bintray.com/mobisystech/maven'
    }
}

dependencies {
    implementation 'com.folioreader:folioreader:0.4.3'
}

<manifest ...>
    ...
    <application android:networkSecurityConfig="@xml/network_security_config">
    ...
    </application>
</manifest>

the problem is that when I t

[2018-09-21 09:27] lekhrajtiwari opened #286 "appbar allignment issue"
Issue / Feature -
FolioReader version -
FolioReader Stock / Modified -
Android SDK -
Mobile / Tablet / Emulator Info -
Crash / Error -

Steps to reproduce / Describe in detail -

![screenshot_2018-09-23-14-23-52](https://user-images.githubusercontent.com/32476181/45871112-366cf380-bdaa-11e8-8dfe-0309cad1bfce.png)
![screenshot_2018-09-23-14-49-57](https://user-images.githubusercontent.com/32476181/

[2018-09-24 07:28] mahavir155 commented on #247
No, currently it is not configurable.. But you can edit the code and simply hide that search menu item.

[2018-09-24 07:30] amit-maheta commented on #247
@lekhrajtiwari
Yes, hide that search menu item.

[2018-09-24 07:33] lekhrajtiwari commented on #247
@mahavir155   @amit-maheta  thanks for the quick reply guys! as am new to coding can you please provide with some link for steps to follow?

[2018-09-25 06:28] lekhrajtiwari commented on #274
@losscommand @hrishikesh-kadam I just found the solution for it, in my case, two libraries with the identical name scheme were creating the conflict. so I suggest importing the library as a module after making some mirror changes in the menu item names

cheers to the filio team.

[2018-09-25 06:30] mahavir155 commented on #274
Glad that you solve the issue yourself. Closing the issue.

[2018-09-25 06:30] #274 closed

[2018-09-25 06:31] mahavir155 commented on #286
@lekhrajtiwari This is still the issue with you?

[2018-09-25 06:34] lekhrajtiwari commented on #286
@mahavir155  no I found the solution for this too! I just had to add

<activity
            android:name="com.folioreader.ui.folio.activity.FolioActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            tools:replace="android:theme"/>

in my manifest file, and it just did the work!

than

[2018-09-25 06:37] mahavir155 commented on #286
Cool, thanks :). I will close this issue.

[2018-09-25 06:37] #286 closed

[2018-09-25 06:42] lekhrajtiwari commented on #284
@ycsghr can you help with the java code for displaying the file from the input stream

[2018-09-26 05:39] yhrun commented on #271
same issue

[2018-09-26 08:35] ZHOUCHAOzzz opened #287 "Can I change the background color"
Can I change the background color when I reading？

[2018-09-26 08:57] HarshaYogesha commented on #169
me also getting same is there any solutions avilable

[2018-09-26 09:11] saikat1529 opened #288 "Prevent Screenshot on Reader"
First of all, thanks for a nice library. My question is that, is it possible to prevent user from taking screenshot while reading the epub file?

[2018-09-26 09:46] lekhrajtiwari opened #289 "Render epub file directly from url"
Issue / Feature -
FolioReader version -
FolioReader Stock / Modified -
Android SDK -
Mobile / Tablet / Emulator Info -
Crash / Error -

Steps to reproduce / Describe in detail -

 @mahavir155  @hrishikesh-kadam
is there any way to view the epub file directly from URL as we do for pdf in webview!

please help.

[2018-09-26 09:50] mahavir155 commented on #289
No, currently there is no way to do so.

On Wed, Sep 26, 2018 at 3:16 PM lekhrajtiwari <notifications@github.com>
wrote:

[2018-09-26 09:51] lekhrajtiwari commented on #289
okay, thanks!

[2018-09-29 05:52] supersume commented on #270
This is a much needed feature

[2018-09-29 09:24] ycsghr opened #290 "I can't click if I search too much when I search."
Issue / Feature -
FolioReader version -
FolioReader Stock / Modified -
Android SDK -
Mobile / Tablet / Emulator Info -
Crash / Error -
I can't click if I search too much when I search.

![image](https://user-images.githubusercontent.com/34826145/46244030-5df83780-c40c-11e8-9ac5-d1056c5863f1.png)

Steps to reproduce / Describe in detail -

[2018-10-03 13:20] mahavir155 opened #291 "Submit your playstore app link if you using FolioReader in your app"
If you are using FolioReader (stock/modified) in your app and you have published to play store, please put play store link in comments.

[2018-10-03 20:16] jeanjnap opened #293 "failures during epub view"
FolioReader version -  0.44
FolioReader Stock / Modified -
Android SDK - 28
Mobile / Tablet / Emulator Info -  Emulador and Mobile
Crash / Error - Crash

Steps to reproduce / Describe in detail - quickly transact pages

the application quits while moving quickly between pages

[https://drive.google.com/file/d/1c9E9dU8ZIIx3Tcm_OHJPfDt7mORwuoeU/view](url)

[2018-10-04 00:38] looknear commented on #291
a bad patched version of it is used here:
https://play.google.com/store/apps/details?id=com.yit.evritViewer

[2018-10-08 08:39] itsvee opened #294 "Can't open epub because icon menu missing"
Issue / Feature - When `openBook` called, app crash.
FolioReader version - 0.4.4
FolioReader Stock / Modified - Stock
Android SDK - 28
Mobile / Tablet / Emulator Info - Google Pixel 2 (mobile)
Crash / Error `'android.graphics.drawable.Drawable android.view.MenuItem.getIcon()'`

Steps to reproduce / Describe in detail
- I setup by your step (use gradle) and run epub from R.raw. That code run in Fra

[2018-10-08 09:13] hrishikesh-kadam commented on #294
@itsvee I just tried integrating FolioReader in a fresh new project. Unable to reproduce this issue.

[2018-10-08 09:40] itsvee commented on #294
@hrishikesh-kadam  Um... let me check again. thanks you

[2018-10-08 10:40] ycsghr commented on #284
Sometimes it is not possible to accurately save the reading position

[2018-10-08 11:27] itsvee commented on #294
Ok, I found this problem because my project had menu_main.xml in res/menu and your library had menu_main.xml too. It confuse when call menu on navigation bar. 😃

[2018-10-08 11:27] #294 closed

[2018-10-09 07:16] hrishikesh-kadam commented on #294
@itsvee So what fix you did?
Renamed your menu_main.xml?

[2018-10-09 18:17] sethchhim commented on #237
@ZayarTun27 @hrishikesh-kadam I am able to recreate this issue. Here are the conditions:

- Epub reader is open with an epub
- App process is killed in the background because other apps need memory (onStop)
- User returns to app (onCreate)
- Crash

[code]

[2018-10-10 09:20] ycsghr opened #295 "Sometimes it is not possible to accurately save the reading position"
Issue / Feature -
FolioReader version -  0.43
FolioReader Stock / Modified -
Android SDK - all
Mobile / Tablet / Emulator Info -
Crash / Error -
When I close the reader, sometimes I don't take the saveReadPosition method, sometimes the return value is not accurate, or the value is unchanged.
Steps to reproduce / Describe in detail -

[2018-10-10 09:22] ycsghr commented on #295
Open the file slowly, sometimes white screen

[2018-10-10 09:28] hrishikesh-kadam commented on #295
@ycsghr This issue will get fixed when Locators concept from r2-streamer-kotlin will be implemented.
We are working on this and will get fixed in a month or two.

[2018-10-10 10:17] ycsghr commented on #295
@hrishikesh-kadam How can I speed up the speed of opening a book because it is too slow for him to open the book?

[2018-10-11 08:55] ongyen8888 opened #296 "DRM support or alternative read source"
I am using Apple iBooks Author to create ebooks, wondering if Folio Reader will support Apple DRM or not. I'm trying to make the source file protected. If Folio Reader can read the epub file from base64 string that would be great.

[2018-10-16 10:56] miladmetias13 opened #298 "Crash While opening this book"
Issue / Feature -  Issue
FolioReader version -  com.folioreader:folioreader:0.5.1
FolioReader Stock / Modified -  Stock
Android SDK - 28
Mobile / Tablet / Emulator Info -  Mobile Samsung Note 4
Crash / Error - Crash

Steps to reproduce / Describe in detail - open the attached book then try to swipe horizontal

open the .epub file after extracting he .zip file
[22.zip](https://github.com/FolioReade

[2018-10-16 13:45] miladmetias13 commented on #298
10-16 15:39:10.907 18341-20736/com.konooz E/ResourceHandler: kotlin.KotlinNullPointerException
    kotlin.KotlinNullPointerException
        at org.readium.r2.streamer.server.handler.ResourceHandler.get(ResourceHandler.kt:67)
        at org.nanohttpd.router.RouterNanoHTTPD$UriResource.process(RouterNanoHTTPD.java:385)
        at org.nanohttpd.router.RouterNanoHTTPD$UriRouter.process(RouterNanoHTTP

[2018-10-19 04:53] ngokhongkn opened #299 "Folio Reader display too many whitespaces at bottom of page when paging in Horizontal Mode"
Issue / Feature -
FolioReader version -  0.5.1
FolioReader Stock / Modified -
Android SDK - Android Studio
Mobile / Tablet / Emulator Info -  Tablet Nexus 7
Crash / Error - Folio Reader display too many whitespaces at bottom of page when paging in Horizontal Mode

Steps to reproduce / Describe in detail -

Steps 1: Download Folio Reader lib, open it by Android Studio and click (OPEN EPUB ASSETS)

[2018-10-23 13:07] SonyGeorge commented on #291
https://play.google.com/store/apps/details?id=com.kbs.ebook.reader

[2018-10-23 13:17] SonyGeorge opened #300 "after update to version 0.4.1 lost two features"
1) vertical scrolling there was a small scroll bar, with dot, showing current reading position, now it is not present
2) bottom there was minute and pages left

both of this are not available in new versions
please let me know if this is removed ..

[2018-10-23 13:33] SonyGeorge commented on #300
thank you for the update

[2018-10-25 04:01] ngokhongkn commented on #299
@hrishikesh-kadam
Could you please take a look at this issue :)

[2018-10-25 07:11] hrishikesh-kadam commented on #299
@ngokhongkn We are currently busy in integrating EPUB CFI as a locator.
It would take some time to take this issue.

[2018-10-25 07:16] ngokhongkn commented on #299
@hrishikesh-kadam
Thanks for your feedback. Please let me know when you finish this issue. Hope to receive your result soon.

[2018-10-31 07:53] yuanjunli opened #301 "android.selection.js not found"
` Unable to open asset URL: file:///android_asset/android.selection.js`

[2018-10-31 07:53] yuanjunli opened #302 "if the lib support epub3"
if the lib support epub3?

[2018-10-31 08:11] hrishikesh-kadam commented on #301
@yuanjunli This error has been rectified in https://github.com/codetoart/FolioReader-Android/commit/08d81a0347dd86d00e5270d69e2f4f45d1540d3d and will get released in next release.

android.selection.js was a dependency in webviewMarker lib which has been removed now. I had forgoted to remove the js injection line.

This error doesn't cause any harm.

@mahavir155 We can close this issue.

[2018-10-31 08:12] hrishikesh-kadam commented on #302
@yuanjunli Yes it does primarily supports EPUB3.

[2018-10-31 08:41] yuanjunli commented on #301
thanks for reply.

[2018-10-31 08:42] #302 closed

[2018-10-31 08:42] #301 closed

[2018-11-01 13:33] Gauravsharma2585219 opened #303 "Unable to get pages left while scrolling pages"
I am currently using folio reader 3.9 in which i want to know to get how many pages left

[2018-11-02 11:58] OluGbengae86 commented on #274
@lekhrajtiwari Could you please provide a guide on exactly what you did? I'm having the same issue.

[2018-11-02 12:07] losscommand commented on #274
I had another menu item with the same name. Had to rename it.

[2018-11-02 12:31] hrishikesh-kadam commented on #274
@OluGbengae86 @losscommand @lekhrajtiwari Please let us know which menu item you had to rename, so that we can rename FolioReader's menu item uniquely to avoid any conflict.

[2018-11-02 12:37] OluGbengae86 commented on #274
@lekhrajtiwari Kindly let's know which menu item, mine not working yet.

[2018-11-02 13:40] kvegilla commented on #274
@hrishikesh-kadam @OluGbengae86 It was "itemSearch" in main_menu.xml

[2018-11-02 13:46] OluGbengae86 commented on #274
@hrishikesh-kadam @lekhrajtiwari
So I found the issue.
The source of the problem is         at com.folioreader.ui.folio.activity.SearchActivity.init(SearchActivity.kt:113)

"SearchActivity.java" was created when I added a search functionality to my app. I simply renamed the activity and the related "activity_search.xml" file and now it's working again.

Thanks guys

[2018-11-02 13:52] losscommand commented on #274
Must be a different case. Good to know that there's another solution.

[2018-11-07 02:11] yhrun commented on #299
same issue

[2018-11-12 02:05] netroby opened #304 "Where is the apk ?"
How to get the folioreader apk

[2018-11-12 06:54] hrishikesh-kadam commented on #304
@netroby FolioReader is an EPUB SDK and not just an APK based app.

[2018-11-15 08:31] OlegTarashkevich commented on #222
Hi guys @mahavir155 @hrishikesh-kadam
Could help with this question please?

[2018-11-15 08:33] hrishikesh-kadam commented on #222
@OlegTarashkevich No, currently FolioReader doesn't support EPUB with passwords.

[2018-11-16 23:51] netroby commented on #304
Sorry for that. thanks for your help

[2018-11-16 23:51] #304 closed

[2018-11-22 12:35] AsyaLeah opened #305 "Permission denied to epub file"
Hi, Could you please take a look at this issue :)

Issue / Feature -
FolioReader version -  0.5.1
FolioReader Stock / Modified -
Android SDK - Android Studio
Mobile / Tablet / Emulator Info -  Emulator Api 28
Crash / Error -
2018-11-22 14:18:49.291 325-325/com.folioreader.android.sample E/Error: Could not generate container
    java.io.FileNotFoundException: /storage/emulated/0/folioreader/TheSilv

[2018-11-22 14:58] yuanjunli opened #306 "coverLink no set to publication"
[code]
i need the cover path to show,but the coverlink in the publication is null. i debug the code and coverLink has been found but no set for publication, if need to `publication.setCoverLink(coverLink)` after found

[2018-11-27 11:16] hrishikesh-kadam commented on #287
@ZHOUCHAOzzz Currently we have only 2 themes in FolioReader; Day and Night.

[2018-11-27 11:58] mahavir155 commented on #273
@Mayank0000 No attachment

[2018-11-27 12:08] mahavir155 commented on #291
https://www.e-vrit.co.il/ also uses FolioReader

[2018-11-27 12:10] mahavir155 commented on #249
No reply.. Closing issue

[2018-11-27 12:10] #249 closed

[2018-11-27 12:15] mahavir155 commented on #231
No reply.. Closing the issue.. If still reproducible, you can reopen it..

[2018-11-27 12:15] #231 closed

[2018-11-27 12:19] mahavir155 commented on #177
No reply.. Closing this issue.. If still reproducible, you can reopen.

[2018-11-27 12:19] #177 closed

[2018-11-27 12:19] mahavir155 commented on #172
No reply.. Closing issue..

[2018-11-27 12:19] #172 closed

[2018-11-27 12:46] hrishikesh-kadam commented on #239
@mahavir155 I think this bug still exists due to the limitation of nanohttpd. Fast swiping between chapters leads to some connection problem between client and server.

Let's keep it open.

[2018-11-27 13:10] #155 closed

[2018-11-27 13:10] mahavir155 commented on #154
Readme is updated now and have enough information

[2018-11-27 13:10] #154 closed

[2018-11-29 11:39] CPJANGID opened #308 "app crash webViewPager has not been initialized"
11-29 17:12:46.300 14972-14972/ct.android.foliodemo E/InputEventReceiver: Exception dispatching input event.
11-29 17:12:46.300 14972-14972/ct.android.foliodemo E/MessageQueue-JNI: Exception in MessageQueue callback: handleReceiveCallback
11-29 17:12:46.302 14972-14972/ct.android.foliodemo E/MessageQueue-JNI: kotlin.UninitializedPropertyAccessException: lateinit property webViewPager has not been

[2018-11-29 11:44] CPJANGID commented on #308
pls solve this problem

[2018-11-29 13:34] hrishikesh-kadam commented on #308
@CPJANGID It would be helpful if you could please fill the [Issue Template](https://github.com/FolioReader/FolioReader-Android/blob/master/.github/ISSUE_TEMPLATE.md) also like [Issue_Template_Examples.md](https://github.com/FolioReader/FolioReader-Android/blob/master/.github/Issue_Template_Examples.md)

[2018-11-29 13:52] CPJANGID commented on #308
Issue / Feature - issue
FolioReader version -0.5.1 latest
FolioReader Stock / Modified -
Android SDK - Mobile / Tablet / Emulator Info -4.4
Crash / Error - crash

Steps to reproduce / Describe in detail -

11-29 19:18:38.956 21775-21859/ct.android.foliodemo I/System.out: ResourceHandler Method: GET, Url: /complete_epub/OEBPS/title-page.html
11-29 19:18:38.959 21775-21775/ct.android.foliodemo E/Inp

[2018-11-29 14:21] hrishikesh-kadam commented on #308
@CPJANGID Will it be possible for you to share the EPUB file?

[2018-11-29 14:33] CPJANGID commented on #308
I'm getting error while page scrolling fast

On Thu, Nov 29, 2018 at 7:51 PM Hrishikesh Kadam <notifications@github.com>
wrote:

--

Thanks
*Chandra Prakash Jangid*

*CAPSITECH IT SERVICES PRIVATE LIMITED*
Shanti Anand | 23/305 Basement | C.H.B. | Jodhpur-342008 | INDIA
Phone : +91 (0)  270 8500 |    Mob.+919414919857 <%2B91%209024819209>
Email :  cp.capsitech@gmail.com  |   Web Url : http://www.c

[2018-12-04 22:47] reza-souri commented on #300
@hrishikesh-kadam  please turn back vertical scrolling.

[2018-12-05 09:43] ck-snow commented on #308
yes，i will also get this error while scrolling page fast,  how to solve it

[2018-12-06 13:07] kiranvirdiya commented on #284
Hi @hrishikesh-kadam,

Is Kotlin based parser integrated now?

[2018-12-06 13:14] hrishikesh-kadam commented on #284
@kiranvirdiya Yes, it is live in version 0.5.1

[2018-12-06 13:16] kiranvirdiya commented on #284
Thanks for the prompt response, @hrishikesh-kadam

[2018-12-10 23:18] prsolucoes opened #310 "Help to integrate into our project"
Hi,

Some time ago (months ago) we help r2 streamer to parse the ebooks correctly. We are using an old version of Folio Reader for Android with a lot of crashes. Im friend of Heberti from iOS version and i develop lot of things there too (https://github.com/prsolucoes/FolioReaderKit).

Now, more than months, we need use the latest version from Folio Reader for Android. So i need make some question

[2018-12-11 06:52] mahavir155 commented on #310
@prsolucoes No, progress & page number features are not in FolioReader android. So, you will need to fork and implement those.

in recent versions we did following improvements:
- uses epub-cfi in last read position and search position
- make last read position and highlights syncable across devices
- using r2-streamer-kotlin (instead of r2-streamer-java)

Now further plan is to use epub-cfi for h

[2018-12-12 07:05] #299 closed

[2018-12-12 09:47] YadhuIleaf opened #312 "App crashes when opening a book"
Error details:
java.util.zip.ZipException: Not a zip archive
        at java.util.zip.ZipFile.readCentralDir(ZipFile.java:397)
        at java.util.zip.ZipFile.<init>(ZipFile.java:175)
        at java.util.zip.ZipFile.<init>(ZipFile.java:142)
        at org.readium.r2.streamer.container.ContainerEpub.<init>(ContainerEpub.kt:48)
        at org.readium.r2.streamer.parser.EpubParser.generateContainer

[2018-12-12 09:49] YadhuIleaf commented on #312
We have been using older Folio Reader so far. We decided to upgrade recently and getting this error after that

[2018-12-12 11:39] hrishikesh-kadam commented on #312
@YadhuIleaf You seems to be working on Shulp project.
It would have been helpful if you could fill the Issue template like these - https://github.com/FolioReader/FolioReader-Android/blob/master/.github/Issue_Template_Examples.md

Can you share EPUB file with us for further investigation?

[2018-12-12 12:59] YadhuIleaf commented on #312
Can you share your email ?.

[2018-12-13 04:51] YadhuIleaf commented on #312
@hrishikesh-kadam This is how we initialise Folio for opening an epub file:
FolioReader.get()
                .setReadPositionListener(thisFragment)
                .setReadPosition(readPosition)
                .setConfig(config, true)
                .openBook(bookPath, String.valueOf(book.bookId));
where bookPath is the sd card path of the file

[2018-12-13 05:32] YadhuIleaf commented on #312
line 458: FolioActivity: pubBox = epubParser.parse(path, "");  epubParser couoldn't initialise pubBox.
path = "/data/data/com.shulph.shulph/files/9781787432680.epub".

[2018-12-13 07:33] hrishikesh-kadam commented on #312
@YadhuIleaf I am able to open the book you provided without any error.
I did open through assets folder and even through /data/data/{app_package}/files/{epub} way.

Unable to produce the issue on Stock version 0.5.1

[2018-12-13 08:43] YadhuIleaf commented on #312
Oh okey . We have cross checked the implementation and when we debugged it seemed like EpubParser(Epub Container) was causing it. It would be helpful if you can help me with it. It works well with older version

[2018-12-13 08:53] hrishikesh-kadam commented on #312
How are you importing your modified FolioReader in Shulp?
Is it just by storing .aar in lib folder or by publishing locally and then importing through gradle?

[2018-12-13 09:13] YadhuIleaf commented on #312
Initially we were just copying it in to the lib. But now we changed it using mavenLocal() after consulting Mahaveer

[2018-12-13 09:24] YadhuIleaf commented on #312
Anyway we will check it again from start .

[2018-12-13 12:31] CPJANGID commented on #308
It has been a long time waiting for solution to this issue, please resolve the issue asap.
Thanks

[2018-12-13 18:32] prsolucoes commented on #310
**I will publish my changes in our fork**

**Changed min SDK version:**

- Changed min SDK supported to 16 and tested on API 16 devices without problems. Our main app is SDK 16 min API too.

<img width="493" alt="screenshot 2018-12-13 16 30 20" src="https://user-images.githubusercontent.com/395096/49959378-887a6c80-fef4-11e8-907c-ce358b809cc2.png">
<img width="493" alt="screenshot 2018-12-13 16 28

[2018-12-13 21:49] prsolucoes commented on #310
I have another problem now when the library inside our project when i open any epub:

[code]

Here is the code used:

[code]

[2018-12-14 06:52] hrishikesh-kadam commented on #291
Looks like [Ubook](https://play.google.com/store/apps/details?id=br.com.ubook.ubookapp&hl=en) also uses FolioReader.
Logs in https://github.com/FolioReader/FolioReader-Android/issues/310#issuecomment-447133031 does have this package - br.com.ubook.ubookapp

[2018-12-14 07:00] hrishikesh-kadam commented on #310
@prsolucoes [Publication$EXTENSION](https://github.com/codetoart/r2-shared-kotlin/blob/3eca57aff02677b501419d38a3e351383d666d15/r2-shared/src/main/java/org/readium/r2/shared/Publication.kt#L92-L97) is an enum from r2-shared-kotlin lib.

Building .aar from FolioReader would not be sufficient as a lib. You would also have to generate .pom.
As the dependency for r2-shared-kotlin and all the other dep